<!-- LOGIN PAGE -->
<div class="container form-signin">
  <h2>Peergos</h2>
  <center>
    <img src="images/logo.png" class="image">
  </center>
  <h2>Please log in</h2>
  <div class="form-group">
    <input type="text" name="username" id="username" class="form-control" v-model="username" placeholder="Username">
  </div>
  <div class="form-group">
    <input type="password" name="password1" id="password1" class="form-control" v-model="password1" placeholder="Password">
  </div>
  <div class="form-group">
    <input type="password" name="password2" id="password2" class="form-control" v-model="password2" placeholder="Re-enter password">
  </div>
  <div class="form-group">
    <input type="text" name="email" class="form-control" v-model="email" placeholder="Email (Optional)">
  </div>
  <button @click="signup()" class="btn btn-large btn-block btn-success">Sign up</button>
  
</div>
<!-- EOF LOGIN PAGE -->
