<!-- LOGIN PAGE -->
<div id="signup" class="container form-signin">
    <spinner v-if="showSpinner" :message.sync="spinnerMessage"></spinner>
    <h2>Peergos signup</h2>
    <center>
        <img src="images/logo.png" class="image">
    </center>
    <h4>Choose a username and password</h4>
    <div class="form-group">
        <input type="text" name="username" id="username" class="form-control" v-on:keyup="lowercaseUsername()" v-model="username" placeholder="Username">
    </div>
    <button @click="generatePassword()" class="btn btn-large btn-block btn-success">Generate password</button>
    <br/>
    <div class="{{ errorClass }}">
        <div class="form-group">
          <label v-if="isError">{{ error }}</label>
          <input :type="passwordFieldType" name="password1" id="password1" v-on:keyup="validatePassword(true)" class="form-control password" v-model="password1" placeholder="Password">
	  <span v-bind:class="['fa', 'password' == passwordFieldType ? 'fa-eye password-eye' : 'fa-eye-slash password-eye-slash']" @click="togglePassword1()"></span>
        </div>
        <div class="form-group" >
          <input :type="password2FieldType" name="password2" id="password2" v-on:focus="validatePassword(false)" class="form-control password" v-model="password2" placeholder="Re-enter password">
	  <span v-bind:class="['fa', 'password' == password2FieldType ? 'fa-eye password-eye' : 'fa-eye-slash password-eye-slash']" @click="togglePassword2()"></span>
        </div>
	<div class="form-group" style="font-weight: bold;">
            <input type="checkbox" name="safePassword" id="safePassword" v-model="safePassword" placeholder="Safely store your password"> I understand that passwords cannot be reset or recovered - if I forget my password, then I will lose access to my account and data. If I enter my password into a malicious website then I will lose control of my account. 
        </div>
        <div class="form-group" style="font-weight: bold;">
            <input type="checkbox" name="tosAccepted" id="tosAccepted" v-model="tosAccepted" placeholder="Accept Terms of Service">&nbsp;I accept the <a href="/terms.html" target="_blank" rel="noopener noreferrer">Terms of Service</a>
        </div>
    </div>
    <button @click="signup()" class="btn btn-large btn-block btn-success">Sign up</button>
    <a v-bind:href="host">Already signed up? Log in instead</a>
    <error :show.sync="showError" :title.sync="errorTitle" :body.sync="errorBody"></error>
</div>
<!-- EOF LOGIN PAGE -->
