<transition name="modal">
<div class="modal-mask" @click="close">
    <div class="modal-container full-height" @click.stop style="overflow-y:auto">
        <span @click="close" class="close">&times;</span>
        <center>
            <h2>Verifying friend: {{ friendname }}</h2>
        </center>
        <center style="font-size:1.6em">
	  <div class="qrcode-container">
            <img v-if="stream == null" v-bind:src="QRCodeURL" class="qrcode"></img>
	    <video v-if="stream != null" id="video" class="qrcode"></video>
	  </div>
	  <div>
	    <button class="btn btn-success" @click="scanQRCode()">Scan your friend's QR code</button>
	    <br/>
	    <h4>Or you can read these numbers out to each other (they should match)</h4>
            {{ safetyNumber[0] }}
	    <br/>
	    {{ safetyNumber[1] }}
	    <br/>
	    {{ safetyNumber[2] }}
	  </div>
        </center>
    </div>
</div>
</transition>
