<transition name="modal">
<div class="modal-mask" @click="close">
    <div style="height:30%"></div>
    <div class="modal-container" @click.stop>
        <span @click="close" class="close">&times;</span>
        <spinner v-if="showSpinner"></spinner>
        <div class="modal-header">
            <h3>Enter user to share {{ files[0].getFileProperties().name }} with:</h3>
        </div>

        <div class="modal-body">
            <div class="container">
                <table>
                    <tr>
                        <td style="padding:10px; font-size: 0.8em; ">
                            <input id="friend-name-input" v-model="targetUsername" type="text" placeholder="Friend name" class="form-control" style="width:200px"></input>
                            &nbsp;<input type="radio" id="read-access" value="Read" v-model="sharedWithAccess">
                            <label for="read-access" style="font-weight: normal;">Read Only</label>
                            <input v-if="this.files[0].getOwnerName() == this.context.username" type="radio" id="edit-access" value="Edit" v-model="sharedWithAccess">
                            <label v-if="this.files[0].getOwnerName() == this.context.username" for="edit-access" style="font-weight: normal;">Read &amp; Write</label>
                            <button class="btn btn-success" @click="shareWith(targetUsername, sharedWithAccess)">Send</button>
                        </td>
                    </tr>
                </table>
            </div>
            <error 
                v-if="showError"
                v-on:hide-error="showError = false"
                :title="errorTitle" 
                :body="errorBody">
            </error>
        </div>
    </div>
</div>
</transition>
