<transition name="modal">
<div class="modal-mask" @click="close">
    <div class="modal-container full-height" @click.stop style="overflow-y:auto">
        <span @click="close" class="close">&times;</span>
        <spinner v-if="showSpinner"></spinner>
        <div class="modal-header">
            <h4>Enter user to share {{ displayName }} with:</h4>
        </div>

        <div class="modal-body">
            <div class="container">
                <table>
                    <tr>
                        <td>
                            <input id="friend-name-input" v-model="targetUsername" type="text" class="token-input" style="width:300px"></input>
                        </td>
                        <td style="padding:5px; font-size: 0.8em; ">
                                &nbsp;<input v-if="this.allowReadWriteSharing" type="radio" id="read-access" value="Read" v-model="sharedWithAccess">
                                <label v-if="this.allowReadWriteSharing" for="read-access" style="font-weight: normal;">Read Only</label>
                                <input v-if="this.allowReadWriteSharing && this.files[0].getOwnerName() == this.context.username" type="radio" id="edit-access" value="Edit" v-model="sharedWithAccess">
                                <label v-if="this.allowReadWriteSharing && this.files[0].getOwnerName() == this.context.username" for="edit-access" style="font-weight: normal;">Read &amp; Write</label>
                                <button :disabled="this.targetUsernames.length == 0" class="btn btn-success" @click="shareWith(sharedWithAccess)">Send</button>
                        </td>
                    </tr>
                </table>
            </div>
            <div v-if="this.allowReadWriteSharing" class="modal-body modal-prominent">
                <div class="container" v-if="data.edit_shared_with_users.length > 0"><p style="word-wrap;break-all;">
                    Read and Write Access:</p>
                    <div v-if="this.files[0].getOwnerName() == this.context.username">
                        <div v-for="user in data.edit_shared_with_users">
                            <input type="checkbox" v-bind:id="user" v-bind:value="user" v-model="unsharedEditAccessNames">&nbsp;<span>{{ user }}</span>
                        </div>
                        <button :disabled="this.unsharedEditAccessNames.length == 0" class="btn btn-success" v-on:click="unshare('Edit')">Revoke</button>
                    </div>
                    <div v-if="this.files[0].getOwnerName() != this.context.username">
                        <div v-for="user in data.edit_shared_with_users">
                            {{ user }}
                        </div>
                    </div>
                </div>
                <div class="container" v-if="data.edit_shared_with_users.length == 0"><p style="word-wrap;break-all;">
                    Read and Write Write Access:    None</p>
                </div>
            </div>
            <div class="modal-body modal-prominent">
                <div class="container" v-if="data.read_shared_with_users.length > 0"><p style="word-wrap;break-all;">
                    Read only Access:</p>
                    <div v-if="this.files[0].getOwnerName() == this.context.username">
                        <div v-for="user in data.read_shared_with_users">
                            <input type="checkbox" v-bind:id="user" v-bind:value="user" v-model="unsharedReadAccessNames">&nbsp;<span>{{ user }}</span>
                        </div>
                        <button :disabled="this.unsharedReadAccessNames.length == 0" class="btn btn-success" v-on:click="unshare('Read')">Revoke</button>
                    </div>
                    <div v-if="this.files[0].getOwnerName() != this.context.username">
                        <div v-for="user in data.read_shared_with_users">
                            {{ user }}
                        </div>
                    </div>
                </div>
                <div class="container" v-if="data.read_shared_with_users.length == 0"><p style="word-wrap;break-all;">
                    Read only Access:    None</p>
                </div>
            </div>
            <div class="modal-body modal-prominent">
                <div class="container">
                    <button class="btn btn-success" @click="createSecretLink()">Create secret Link</button>
                </div>
            </div>
            <error
                    v-if="showError"
                    v-on:hide-error="showError = false"
                    :title="errorTitle"
                    :body="errorBody">
            </error>
            <modal
                    v-if="showModal"
                    v-on:hide-modal="showModal = false"
                    :title="modalTitle"
                    :links="modalLinks">
            </modal>
        </div>
    </div>
</div>
</transition>
