<transition name="modal">
<div class="modal-mask" @click="close">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <div @click.stop class="profile-page-container">
        <span @click="close" tabindex="0" v-on:keyup.enter="close" aria-label="close" class="close">&times;</span>
        <div class="modal-header">
            <h2>Profile</h2>
        </div>
        <div class="modal-body">
            <spinner v-if="showSpinner"></spinner>
            <div id="profile-container" class="profile-image" v-if="hasProfileImage()">
                <img id="profile-image" alt="profile image" style="width:150px; height:150px" v-bind:src="getProfileImage()"/>
            </div>
            <div v-if="status.length == 0 && firstName.length == 0 && primaryPhone.length == 0 && primaryEmail.length == 0 && biography.length == 0 " class="profile-view">
                This user hasn't shared any of their profile with you yet.
            </div>
            <div v-if="status.length > 0 || firstName.length > 0 || primaryPhone.length > 0 || primaryEmail.length > 0 || biography.length > 0 " class="profile-view">
                <p v-if="status.length > 0">
                    <span class="profile-span">Status:</span><span>{{status}}</span>
                </p>
                <p v-if="firstName.length > 0">
                    <span class="profile-span">Name:</span><span>{{firstName}}</span>&nbsp;<span >{{lastName}}</span>
                </p>
                <p v-if="primaryPhone.length > 0">
                    <span class="profile-span">Phone:</span><span>{{primaryPhone}}</span>
                </p>
                <p v-if="primaryEmail.length > 0">
                    <span class="profile-span">Email:</span><span>{{primaryEmail}}</span>
                </p>
                <p v-if="biography.length > 0">
                    <span class="profile-span">Biography:</span>
                </p>
                <p style="white-space: pre-wrap; margin-top: 10px; margin-bottom: 0;">{{biography}}</p>
            </div>
        </div>
    </div>
</div>
</transition>
