<div class="fillspace">
  <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <input type="file" id="uploadFileInput" @change="uploadFiles" style="display:none;" multiple />
    <input type="file" id="uploadDirectoriesInput" @change="uploadFiles" style="display:none;" multiple directory mozDirectory webkitDirectory/>
    <div style="display:block;">
      <ul class="nav navbar-nav">
    <li id="appButton" @click="toggleNav()" class="navbar-brand nopad"><a><span data-toggle="tooltip" data-placement="bottom" title="Apps" class="pnavbar fas fa-th" style="cursor: pointer;"/></a></li>
	<li id="homeButton" @click="goHome()" class="navbar-brand nopad"><a><span data-toggle="tooltip" data-placement="bottom" title="Global root" class="pnavbar fas fa-globe-asia" style="cursor: pointer;"/></a></li>
	<li id="uploadButton" @click="toggleUploadMenu()" v-if="isWritable" class="navbar-brand nopad"><a><span data-toggle="tooltip" data-placement="bottom" title="Upload" class="pnavbar fa fa-upload" style="cursor: pointer;"/></a></li>
	<li id="mkdirButton" @click="askMkdir()" v-if="isWritable" class="navbar-brand nopad"><a><span data-toggle="tooltip" data-placement="bottom" title="Create new directory" class="pnavbar fas fa-folder-plus" style="cursor: pointer;"/></a></li>
    <li id="alternateViewButton" @click="switchView()" class="navbar-brand nopad"><a><span data-toggle="tooltip" data-placement="bottom" title="Switch view" id="altViewSpan" v-bind:class="['pnavbar', 'fa', 'tour-view', grid ? 'fa-list' : 'fa-th-large']" style="cursor: pointer;"/></a></li>
    <li id="timelineButton" v-if="isLoggedIn" @click="showTimelineView()" class="navbar-brand nopad">
      <a><span data-toggle="tooltip" data-placement="bottom" title="Timeline" class="pnavbar fas fa-history" style="cursor: pointer;"/></a>
    </li>
    <li id="userOptionsButton" v-if="isLoggedIn" @click="showSocialView()" class="navbar-brand nopad">
      <a>
        <span data-toggle="tooltip" data-placement="bottom" title="Sharing options" id="sharingOptionsSpan" class="pnavbar fa fa-user-plus" style="cursor: pointer;"/>
        <span id="pendingSpan" class="pending-badge" v-if="social != null && social.pending.length > 0">{{ social.pending.length }}</span>
      </a>
	</li>
      </ul>
    </div>
    <span data-toggle="tooltip" data-placement="bottom" title="Current location" class="nav navbar-nav pnavbar" style="float:left;display:inline-block;font-size:2.5em;color:#9d9d9d;padding: 0.2em 0.2em 0em;">/</span>
    <span v-for="(dir, index) in path" class="nav navbar-nav navbar-brand" style="display:inline-block;padding: 0.2em 0.2em 1em;margin-bottom: 0.2em;">
      <button @click="goBackToLevel(index+1)" class="btn_pnavbar btn">{{dir}}</button>
      <span class="divider"> </span>
    </span>

    <ul v-if="isLoggedIn" class="nav navbar-right pnavbar_top_right">
      <button id="logoutButton" @click="toggleUserMenu()" class="btn top_right_icon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="fa fa-cog"></span>
        <span class="collapse navbar-collapse">{{username}}</span>
      </button>
      <ul id="settingsMenu" v-if="showSettingsMenu" class="dropdown-menu" aria-labelledby="logoutButton" style="cursor:pointer;display:block">
        <li v-if="isAdmin"><a @click="showAdminPanel">Admin Panel</a></li>
        <li><a @click="showRequestStorage">Request more storage</a></li>
        <li><a @click="showChangePassword">Change Password</a></li>
        <li><a @click="showViewAccount">Delete Account</a></li>
        <li><a @click="showTour=true;showSettingsMenu=false">Show tour</a></li>
        <li role="separator" class="divider"></li>
        <li><a @click="logout">Log out</a></li>
      </ul>
    </ul>

    <ul v-if="isWritable" class="nav">
      <ul id="uploadMenu" v-if="showUploadMenu" class="dropdown-menu" style="cursor:pointer;display:block">
        <li><a @click="askForFiles">Upload files</a></li>
        <li><a @click="askForDirectories">Upload directories</a></li>
      </ul>
    </ul>

  </nav>
  <div id="sideMenu" class="sidenav">
    <a><span/>&nbsp</a>
    <a @click="newTodoBoard"><span class="fas fa-list-alt"/></a>
  </div>
  <a id="downloadAnchor" style="display:none"></a>
  <ul id="right-click-menu" tabindex="-1" v-if="viewMenu && (isNotHome || isPasteAvailable || isNotBackground)" v-on:blur="closeMenu" v-bind:style="{top:top, left:left}">
    <li id='gallery' v-if="canOpen" v-on:click="gallery">View</li>
    <li id='create-file' v-if="!isNotBackground" v-on:click="createTextFile">Create Text file</li>
    <li id='open-file' v-if="canOpen" v-on:click="downloadAll">Download</li>
    <li id='rename-file' v-if="isNotBackground && isWritable" v-on:click="rename">Rename</li>
    <li id='delete-file' v-if="isNotBackground && isWritable" v-on:click="deleteFiles">Delete</li>
    <li id='copy-file' v-if="isNotBackground && isWritable" v-on:click="copy">Copy</li>
    <li id='cut-file' v-if="isNotBackground && isWritable" v-on:click="cut">Cut</li>
    <li id='paste-file' v-if="isPasteAvailable" v-on:click="paste">Paste</li>
    <li id='secret-link-file' v-if="(isNotHome || isNotBackground)" v-on:click="createSecretLink">Create secret link</li>
    <li id='share-file' v-if="(isNotHome || isNotBackground) && isLoggedIn" v-on:click="showShareWith">Share</li>
  </ul>
  
  <tour
    v-if="showTour" 
    v-on:hide-tour="showTour = false">
  </tour>
  <modal
    v-if="showModal" 
    v-on:hide-modal="showModal = false" 
    :title="modalTitle" 
    :links="modalLinks">
  </modal>
  <share 
    v-if="showShare" 
    v-on:hide-share-with="showShare = false"
    v-on:update-shared-refresh="forceSharedRefreshWithUpdate++"
    :data="sharedWithData"
    :fromApp="fromApp"
    :files="filesToShare"
    :parent="parentFile"
    :path="pathToFile"
    :context="context" 
    :followernames="followernames" 
    :messages="messages">
  </share>
  <social 
    v-if="showSocial" 
    v-on:hide-social="showSocial = false"
    v-on:external-change="externalChange++"
    :data="social" 
    :context="context" 
    :messages="messages">
  </social>
  <timeline
    v-if="showTimeline"
    v-on:hide-timeline="showTimeline = false"
    :navigateToAction="navigateToAction"
    :viewAction="viewAction"
    :getFileIcon="getFileIcon"
    :messages="messages"
    :socialFeed="socialFeed"
    :context="context">
  </timeline>
  <admin
    v-if="showAdmin"
    v-on:hide-admin="showAdmin = false"
    :data="admindata"
    :context="context">
  </admin>
  <password
    v-if="showPassword"
    v-on:hide-password="showPassword = false"
    :changepassword="changePassword"
    :username="this.getContext().username">
  </password>
  <account
          v-if="showAccount"
          v-on:hide-close-account="showAccount = false"
          :deleteAccount="deleteAccount"
          :username="this.getContext().username">
  </account>
  <space
    v-if="showRequestSpace"
    v-on:hide-request-space="showRequestSpace = false"
    :context="context"
    :quota="quota"
    :usage="usageBytes">
  </space>
  <payment
    v-if="showBuySpace"
    v-on:hide-payment="showBuySpace = false"
    :context="context"
    :quota="quota"
    :usage="usageBytes"
    :paymentProperties="paymentProperties"
    :updateQuota="updateQuota">
  </payment>
  <feedback
    v-if="showFeedbackForm"
    :closeFeedbackForm="closeFeedbackForm"
    :loadMessageThread="loadMessageThread"
    :sendFeedback="sendFeedback"
    :sendMessage="sendMessage"
    :messageId="messageId">
  </feedback>
  <gallery
    v-if="showGallery"
    v-on:hide-gallery="closeApps()"
    :files="sortedFiles"
    :context="context"
    :initial-file-name="selectedFiles[0] == null ? '' : selectedFiles[0].getFileProperties().name">
  </gallery>
  <hex
    v-if="showHexViewer"
    v-on:hide-hex-viewer="closeApps()"
    :file="selectedFiles[0]"
    :context="context">
  </hex>
  <pdf
    v-if="showPdfViewer"
    v-on:hide-pdf-viewer="closeApps()"
    :file="selectedFiles[0]"
    :context="context">
  </pdf>
  <code-editor
    v-if="showCodeEditor"
    v-on:hide-code-editor="closeApps(); updateCurrentDir();"
    v-on:update-refresh="forceUpdate++"
    :file="selectedFiles[0]"
    :context="context"
    :messages="messages">
  </code-editor>
  <todo-board
          v-if="showTodoBoardViewer"
          v-on:hide-todo-board="closeApps();"
          :context="context"
          :file="selectedFiles[0]"
          :newTodoBoardName="newTodoBoardName"
          v-on:update-refresh="forceUpdate++"
          :messages="messages">
  </todo-board>
  <text-viewer
    v-if="showTextViewer" 
    v-on:hide-text-viewer="closeApps()"
    :file="selectedFiles[0]" 
    :context="context">
  </text-viewer>
  <message 
    v-for="message in messages" 
    v-on:remove-message="messages.splice(messages.indexOf(message), 1)"
    :title="message.title" 
    :message="message.body">
  </message>
  <prompt 
    v-if="showPrompt" 
    v-on:hide-prompt="showPrompt = false"
    :prompt_message='prompt_message'
    :placeholder="prompt_placeholder"
    :max_input_size="prompt_max_input_size"
    :value="prompt_value"
    :consumer_func="prompt_consumer_func">
  </prompt>
  <warning 
    v-if="showWarning" 
    v-on:hide-warning="showWarning = false"
    :warning_message='warning_message'
    :warning_body="warning_body"
    :consumer_func="warning_consumer_func">
  </warning>
  <replace
          v-if="showReplace"
          v-on:hide-replace="showReplace = false"
          :replace_message='replace_message'
          :replace_body="replace_body"
          :consumer_cancel_func="replace_consumer_cancel_func"
          :consumer_func="replace_consumer_func"
          :showApplyAll=replace_showApplyAll>
  </replace>
  <div v-if="progressMonitors.length>0" class="progressholder">
    <progressbar 
        v-for="progress in progressMonitors" v-if="progress.show"
      v-on:hide-progress="progressMonitors.pop(progress)"
      :title="progress.title" 
      :done="progress.done"
      :max="progress.max" />
  </div>
  <div v-if="conversationMonitors.length>0" class="messageholder">
    <messagebar :replyToMessage="replyToMessage" :dismissMessage="dismissMessage"
            v-for="message in conversationMonitors"
            :id="message.id"
            :date="message.sendTime"
            :contents="message.contents.length > 50 ? message.contents.substring(0,47) + '...' : message.contents" />
  </div>
  <div id="dnd" @drop="dndDrop($event)" @dragover.prevent v-bind:class="{ fillspace: true, not_owner: isNotMe }" v-on:contextmenu="openMenu($event)">
    <spinner v-if="showSpinner" :message="spinnerMessage"></spinner>
    
    <div class="grid" v-if="grid">
        <span class="column" v-for="(file, itemObjKey) in sortedFiles">
          <span class="grid_icon_wrapper fa" :id="itemObjKey" draggable="true" @dragover.prevent v-on:dragstart="dragStart($event, file)" @drop="drop($event, file)">
            <a class="picon" v-bind:id="file.getFileProperties().name" v-on:contextmenu="openMenu($event, file)">
              <span v-if="!file.getFileProperties().thumbnail.isPresent()" v-on:click="navigateOrMenu($event, file)" v-on:contextmenu="openMenu($event, file)"
		    v-bind:class="[getFileClass(file), getFileIcon(file), 'picon']"> </span>
              <img id="thumbnail" v-if="file.getFileProperties().thumbnail.isPresent()" v-on:click="navigateOrMenu($event, file)" v-on:contextmenu="openMenu($event, file)" v-bind:src="getThumbnailURL(file)"/>
                </a>
            <div class="content filename" >
              <div v-bind:class="{ noselect: true, shared: isShared(file) }">{{ file.getFileProperties().name }}</div>
            </div>
            </span>
        </span>
	<div v-if="sortedFiles.length==0 && currentDir != null && currentDir.isWritable()" class="instruction">
	  Upload a file by dragging and dropping here or clicking the <span class="fa fa-upload"/> icon
	</div>
	<center v-if="isSecretLink" class="bottom-message">
	  Join the revolution!<br/>
	  <button class="btn btn-lg btn-success" @click="gotoSignup()">Sign up to Peergos</button>
	</center>
	<center v-if="showDonate" class="bottom-message">
	  If you like Peergos, help us spend more time on it by donating!<br/>
	  <a href="https://donorbox.org/peergos" target="_blank"><button class="btn btn-lg btn-success">Donate</button></a>
	  <button class="btn btn-lg btn-danger" @click="hideDonate=true;">Hide this</button>
	</center>
	<div v-if="!isSecretLink" style="position:absolute;bottom:5px;right:5%;font-size:1.4em"> Usage: {{ usage }} / {{ quota }}</div>
    </div>
    <div class="table-responsive" v-if="!grid">
        <table class="table">
          <thead>
            <tr style="cursor:pointer;">
              <th @click="setSortBy('name')">Name <span v-if="sortBy=='name'" v-bind:class="['fas', normalSortOrder ? 'fa-angle-down' : 'fa-angle-up']"/></th>
              <th @click="setSortBy('size')">Size <span v-if="sortBy=='size'" v-bind:class="['fas', normalSortOrder ? 'fa-angle-down' : 'fa-angle-up']"/></th>
              <th @click="setSortBy('type')">Type <span v-if="sortBy=='type'" v-bind:class="['fas', normalSortOrder ? 'fa-angle-down' : 'fa-angle-up']"/></th>
              <th @click="setSortBy('modified')">Modified <span v-if="sortBy=='modified'" v-bind:class="['fas', normalSortOrder ? 'fa-angle-down' : 'fa-angle-up']"/></th>
            </tr>
          </thead>
          <tbody>
                <tr v-for="file in sortedFiles">
                  <td v-bind:id="file.getFileProperties().name" v-on:click="navigateOrMenu($event, file)" v-on:contextmenu="openMenu($event, file)" style="cursor:pointer" v-bind:class="{ shared: isShared(file) }">{{ file.getFileProperties().name }}</td>
                  <td>{{ getFileSize(file.getFileProperties()) }}</td>
                  <td>{{ file.getFileProperties().getType() }}</td>
                  <td>{{ file.getFileProperties().modified }}</td>
                </tr>
          </tbody>
        </table>
    </div>
    <button id="popup" v-if="!isSecretLink" class="feedback-button" @click="toggleFeedbackForm()"> 
      Feedback
    </button>
    <error
      v-if="showError"
      v-on:hide-error="showError = false"
      :title="errorTitle" 
      :body="errorBody"
      :messageId="messageId">
    </error>
  </div>
</div>
