<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div>
    <ul class="nav navbar-nav">
      <li id="homeButton" @click="goHome()" class="navbar-brand nopad"><a><span data-toggle="tooltip" data-placement="bottom" title="Home" class="pnavbar glyphicon glyphicon-home tour-home" style="cursor: pointer;"/></a></li>
      <li id="uploadButton" @click="askForFile()" v-if="isWritable" class="navbar-brand nopad"><a><span data-toggle="tooltip" data-placement="bottom" title="Upload file" class="pnavbar glyphicon glyphicon-upload tour-upload"  style="cursor: pointer;"/></a></li>
      <li id="mkdirButton" @click="askMkdir()" v-if="isWritable" class="navbar-brand nopad"><a><span data-toggle="tooltip" data-placement="bottom" title="Create new directory" class="pnavbar glyphicon glyphicon-folder-open tour-mkdir"  style="cursor: pointer;"/></a></li>
      <li id="alternateViewButton" @click="switchView()" class="navbar-brand nopad"><a><span data-toggle="tooltip" data-placement="bottom" title="Switch view" id="altViewSpan" v-bind:class="['pnavbar', 'glyphicon', 'tour-view', grid ? 'glyphicon-list' : 'glyphicon-th-large']"  style="cursor: pointer;"/></a></li>
      <li id="userOptionsButton" @click="showSocial()" class="navbar-brand nopad">
	<a>
          <span data-toggle="tooltip" data-placement="bottom" title="Sharing options" id="sharingOptionsSpan" class="pnavbar glyphicon glyphicon-user tour-social"  style="cursor: pointer;"/>
          <span id="pendingSpan"></span>
	</a>
      </li>
    </ul>
  </div>
  <a id="pathSpan" style="font-size:28px;"><span data-toggle="tooltip" data-placement="bottom" title="Current location" class="pnavbar glyphicon glyphicon-chevron-right tour-path" style="vertical-align:'middle';"/></a>
  <span class="tour-path" v-for="dir in path" track-by="$index">
    <button @click="goBackToLevel($index+1)" class="btn_pnavbar btn tour-path">{{dir}}</button>
    <span class="divider"> </span>
  </span>

  <ul class="nav navbar-nav navbar-right pnavbar_top_right">
    <button @click="showUserMenu()" class="btn top_right_icon tour-logout">
      <span class="glyphicon glyphicon-off"></span>
    </button>
  </ul>
  
</nav>

<div class="grid">
  <span class="column" v-for="file in sortedFiles">
    <span class="grid_icon_wrapper">
      <span @click="navigateToSubdir(file.props.name)" v-bind:class="['glyphicon', 'file_icon', file.props.isDirectory ? 'glyphicon-folder-open' : 'glyphicon-file', 'picon']"/>
      <div class="content">
        <div  v-if="file.props.isDirectory">{{ file.props.name }}</div>
      </div>
    </span>
  </span>
</div>
