<div class="fillspace" style="display:flex;flex-direction:column;justify-content:space-between;">
  <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <input type="file" id="uploadFileInput" @change="uploadFiles" style="display:none;" multiple />
    <input type="file" id="uploadDirectoriesInput" @change="uploadFiles" style="display:none;" multiple directory mozDirectory webkitDirectory/>
    <div style="display:block;">
      <ul class="nav navbar-nav">
	<li id="appButton" v-if="!isSecretLink" v-on:keyup.enter="toggleNav()" @click="toggleNav()" class="navbar-brand nopad toolbar-item"><a><span data-toggle="tooltip" data-placement="bottom" title="Apps" class="pnavbar fas fa-home" style="cursor: pointer;"/></a></li>
	<li v-if="view==='files'" id="alternateViewButton" v-on:keyup.enter="switchView()" @click="switchView()" class="navbar-brand nopad toolbar-item"><a><span data-toggle="tooltip" data-placement="bottom" title="Switch view" id="altViewSpan" v-bind:class="['pnavbar', 'fa', 'tour-view', grid ? 'fa-list' : 'fa-th-large']" style="cursor: pointer;"/></a></li>
	<li id="uploadButton" v-on:keyup.enter="toggleUploadMenu()" @click="toggleUploadMenu()" v-if="isWritable && view==='files'" class="navbar-brand nopad toolbar-item"><a><span data-toggle="tooltip" data-placement="bottom" title="Upload" class="pnavbar fa fa-upload" style="cursor: pointer;"/></a></li>
	<li id="mkdirButton" v-on:keyup.enter="askMkdir()" @click="askMkdir()" v-if="isWritable && view==='files'" class="navbar-brand nopad toolbar-item"><a><span data-toggle="tooltip" data-placement="bottom" title="Create new directory" class="pnavbar fas fa-folder-plus" style="cursor: pointer;"/></a></li>
      </ul>
    </div>
    <span v-if="view==='files'" data-toggle="tooltip" data-placement="bottom" title="Current location" class="nav navbar-nav pnavbar" style="float:left;display:inline-block;font-size:2.5em;color:#9d9d9d;padding: 0.2em 0.2em 0em;">/</span>
    <span v-if="view==='files'" v-on:keyup.enter="goBackToLevel(index+1)" v-for="(dir, index) in path" class="nav navbar-nav navbar-brand toolbar-item" style="display:inline-block;padding: 0.2em 0.2em 1em;margin-bottom: 0.2em;">
        <button tabindex="-1" @click="goBackToLevel(index+1)" class="btn_pnavbar btn">{{dir}}</button>
        <span class="divider"> </span>
    </span>

    <ul id="settings-menu" v-if="isLoggedIn" class="nav navbar-right pnavbar_top_right toolbar-item" v-on:keyup.enter="toggleUserMenu()">
      <button id="logoutButton" tabindex="-1" @click="toggleUserMenu()" class="btn top_right_icon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="fa fa-cog"></span>
        <span class="collapse navbar-collapse">{{username}}</span>
      </button>
      <ul id="settingsMenu" v-if="showSettingsMenu" class="dropdown-menu" aria-labelledby="logoutButton" style="cursor:pointer;display:block;left:auto;right:0;">
        <li v-if="isAdmin" v-on:keyup.enter="showAdminPanel" class="settings-item"><a @click="showAdminPanel">Admin Panel</a></li>
        <li class="settings-item" v-on:keyup.enter="showRequestStorage"><a v-on:keyup.enter="showRequestStorage" @click="showRequestStorage">Account</a></li>
        <li class="settings-item" v-on:keyup.enter="showChangePassword"><a v-on:keyup.enter="showChangePassword" @click="showChangePassword">Change Password</a></li>
        <li class="settings-item" v-on:keyup.enter="showViewAccount"><a v-on:keyup.enter="showViewAccount" @click="showViewAccount">Delete Account</a></li>
        <li role="separator" class="divider"></li>
        <li class="settings-item" v-on:keyup.enter="logout"><a v-on:keyup.enter="logout" @click="logout">Log out</a></li>
      </ul>
    </ul>

    <ul v-if="isWritable" class="nav">
      <ul id="uploadMenu" v-if="showUploadMenu" class="dropdown-menu" style="cursor:pointer;display:block">
        <li v-on:keyup.enter="askForFiles" class="upload-item"><a @click="askForFiles">Upload files</a></li>
        <li v-on:keyup.enter="askForDirectories" class="upload-item"><a @click="askForDirectories">Upload directories</a></li>
      </ul>
    </ul>

  </nav>
  <a id="downloadAnchor" style="display:none"></a>
  <div v-if="viewMenu && (isNotHome || isPasteAvailable || isNotBackground)">
    <nav>
    <ul id="right-click-menu" v-if="viewMenu && (isNotHome || isPasteAvailable || isNotBackground)" v-on:blur="closeMenu" v-bind:style="{top:top, left:left}">
      <li id='gallery' v-on:keyup.enter="gallery" tabindex="0" v-if="canOpen" v-on:click="gallery">View</li>
      <li id='create-file' v-on:keyup.enter="createTextFile" tabindex="0" v-if="!isNotBackground" v-on:click="createTextFile">Create Text file</li>
      <li id='open-file' v-on:keyup.enter="downloadAll" tabindex="0" v-if="canOpen" v-on:click="downloadAll">Download</li>
      <li id='rename-file' v-on:keyup.enter="rename" tabindex="0" v-if="isNotBackground && isWritable" v-on:click="rename">Rename</li>
      <li id='delete-file' v-on:keyup.enter="deleteFiles" tabindex="0" v-if="isNotBackground && isWritable" v-on:click="deleteFiles">Delete</li>
      <li id='copy-file' v-on:keyup.enter="copy" tabindex="0" v-if="isNotBackground && isWritable" v-on:click="copy">Copy</li>
      <li id='cut-file' v-on:keyup.enter="cut" tabindex="0" v-if="isNotBackground && isWritable" v-on:click="cut">Cut</li>
      <li id='paste-file' v-on:keyup.enter="paste" tabindex="0" v-if="isPasteAvailable" v-on:click="paste">Paste</li>
      <li id='share-file' v-on:keyup.enter="showShareWith" tabindex="0" v-if="(isNotHome || isNotBackground) && isLoggedIn" v-on:click="showShareWith">Share</li>
      <li id='file-search' v-on:keyup.enter="openSearch(false)" tabindex="0" v-if="isSearchable" v-on:click="openSearch(false)">Search...</li>
      <li v-on:keyup.enter="closeMenu" tabindex="0" v-on:click="closeMenu">Close</li>
    </ul>
    </nav>
  </div>
  <div v-if="viewMenu && isProfileViewable()">
    <ul id="right-click-menu-profile" tabindex="-1"  v-on:blur="closeMenu" v-bind:style="{top:top, left:left}">
      <li id='profile-view' v-on:click="showProfile(false)">Show Profile</li>
    </ul>
  </div>
  <tour
    v-if="showTour" 
    v-on:hide-tour="showTour = false">
  </tour>
  <appgrid
      v-if="showAppgrid" 
      :context="context"
      :social="social"
      :canUpgrade="canUpgrade"
      v-on:files="showFiles"
      v-on:news-feed="showTimelineView()"
      v-on:upgrade="showRequestStorage()"
      v-on:calendar="showCalendar()"
      v-on:todo="showTodoBoard()"
      v-on:editor="showTextEditor()"
      v-on:social="showSocialView()"
      v-on:search="openSearch(true)"
      v-on:profile="showProfile(true)"
      v-on:tour="showTour = true"
      >
  </appgrid>
  <share 
    v-if="showShare" 
    v-on:hide-share-with="closeShare"
    v-on:update-shared-refresh="forceSharedRefreshWithUpdate++"
    :data="sharedWithData"
    :fromApp="fromApp"
    :displayName="displayName"
    :allowReadWriteSharing="allowReadWriteSharing"
    :allowCreateSecretLink="allowCreateSecretLink"
    :files="filesToShare"
    :path="pathToFile"
    :context="context" 
    :followernames="followernames"
    :friendnames="friendnames"
    :groups="groups"
    :messages="messages">
  </share>
  <social 
    v-if="showSocial" 
    v-on:hide-social="showSocial = false"
    v-on:external-change="externalChange++"
    :displayProfile="displayProfile"
    :data="social" 
    :context="context" 
    :messages="messages">
  </social>
  <timeline
    v-if="showTimeline"
    v-on:hide-timeline="showTimeline = false;forceSharedRefreshWithUpdate++"
    :navigateToAction="navigateToAction"
    :viewAction="viewAction"
    :getFileIconFromFileAndType="getFileIconFromFileAndType"
    :messages="messages"
    :socialFeedInstance="socialFeed"
    :updateSocialFeedInstance="updateSocialFeedInstance"
    :importCalendarFile="importCalendarFile"
    :importSharedCalendar="importSharedCalendar"
    :displayProfile="displayProfile"
    :groups="groups"
    :followingnames="followingnames"
    :friendnames="friendnames"
    :followernames="followernames"
    :context="context">
  </timeline>
  <search
          v-if="showSearch"
          v-on:hide-search="closeSearch"
          :path="searchPath"
          :navigateToAction="navigateToAction"
          :viewAction="viewAction"
          :context="context">
  </search>
  <admin
    v-if="showAdmin"
    v-on:hide-admin="closeAdmin"
    :data="admindata"
    :context="context">
  </admin>
  <password
    v-if="showPassword"
    v-on:hide-password="closeChangePassword"
    :changepassword="changePassword"
    :username="this.getContext().username">
  </password>
  <account
          v-if="showAccount"
          v-on:hide-close-account="closeViewAccount"
          :deleteAccount="deleteAccount"
          :username="this.getContext().username">
  </account>
  <space
    v-if="showRequestSpace"
    v-on:hide-request-space="closeRequestSpace"
    :context="context"
    :quota="quota"
    :usage="usageBytes">
  </space>
  <payment
    v-if="showBuySpace"
    v-on:hide-payment="showBuySpace = false"
    :context="context"
    :quota="quota"
    :quotaBytes="quotaBytes"
    :usage="usageBytes"
    :paymentProperties="paymentProperties"
    :updateQuota="updateQuota">
  </payment>
  <feedback
    v-if="showFeedbackForm"
    :closeFeedbackForm="closeFeedbackForm"
    :loadMessageThread="loadMessageThread"
    :sendFeedback="sendFeedback"
    :sendMessage="sendMessage"
    :messageId="messageId">
  </feedback>
  <profile-edit
          v-if="showProfileEditForm"
          v-on:hide-profile-edit="showProfileEditForm = false"
          v-on:update-refresh="forceUpdate++"
          :context="context"
          :profile="profile"
          :shareWith="showShareWithForProfile"
          :messages="messages">
  </profile-edit>
  <profile-view
          v-if="showProfileViewForm"
          v-on:hide-profile-view="showProfileViewForm = false"
          :profile="profile">
  </profile-view>
  <gallery
    v-if="showGallery"
    v-on:hide-gallery="closeApps()"
    :files="sortedFiles"
    :context="context"
    :initial-file-name="selectedFiles[0] == null ? '' : selectedFiles[0].getFileProperties().name">
  </gallery>
  <hex
    v-if="showHexViewer"
    v-on:hide-hex-viewer="closeApps()"
    :file="selectedFiles[0]"
    :context="context">
  </hex>
  <pdf
    v-if="showPdfViewer"
    v-on:hide-pdf-viewer="closeApps()"
    :file="selectedFiles[0]"
    :context="context">
  </pdf>
  <code-editor
    v-if="showCodeEditor"
    v-on:hide-code-editor="closeApps(); updateCurrentDir();"
    v-on:update-refresh="forceUpdate++"
    :file="selectedFiles[0]"
    :context="context"
    :messages="messages">
  </code-editor>
  <todo-board
          v-if="showTodoBoardViewer"
          v-on:hide-todo-board="closeApps();"
          :context="context"
          :file="selectedFiles[0]"
          :currentTodoBoardName="currentTodoBoardName"
          v-on:update-refresh="forceUpdate++"
          :messages="messages">
  </todo-board>
  <select-create
          v-if="showSelect"
          v-on:hide-select="showSelect = false"
          :select_message= "select_message"
          :select_placeholder="select_placeholder"
          :select_items="select_items"
          :messages="messages"
          :select_consumer_func="select_consumer_func">
  </select-create>
  <calendar
          v-if="showCalendarViewer"
          v-on:hide-calendar="closeApps();"
          :importFile="importFile"
          :importCalendarPath="importCalendarPath"
          :owner="owner"
          :loadCalendarAsGuest="loadCalendarAsGuest"
          :shareWith="showShareWithFromApp"
          :context="context"
          :messages="messages">
  </calendar>
  <text-viewer
    v-if="showTextViewer" 
    v-on:hide-text-viewer="closeApps()"
    :file="selectedFiles[0]" 
    :context="context">
  </text-viewer>
  <message 
    v-for="message in messages" 
    v-on:remove-message="messages.splice(messages.indexOf(message), 1)"
    :title="message.title" 
    :message="message.body">
  </message>
  <prompt 
    v-if="showPrompt" 
    v-on:hide-prompt="closePrompt"
    :prompt_message='prompt_message'
    :placeholder="prompt_placeholder"
    :max_input_size="prompt_max_input_size"
    :value="prompt_value"
    :consumer_func="prompt_consumer_func">
  </prompt>
  <warning 
    v-if="showWarning" 
    v-on:hide-warning="closeWarning"
    :warning_message='warning_message'
    :warning_body="warning_body"
    :consumer_func="warning_consumer_func">
  </warning>
  <replace
          v-if="showReplace"
          v-on:hide-replace="showReplace = false"
          :replace_message='replace_message'
          :replace_body="replace_body"
          :consumer_cancel_func="replace_consumer_cancel_func"
          :consumer_func="replace_consumer_func"
          :showApplyAll=replace_showApplyAll>
  </replace>
  <div v-if="progressMonitors.length>0" class="progressholder">
    <progressbar 
        v-for="progress in progressMonitors" v-if="progress.show"
      v-on:hide-progress="progressMonitors.splice(progressMonitors.indexOf(progress), 1)"
      :title="progress.title" 
      :done="progress.done"
      :max="progress.max" />
  </div>
  <div v-if="conversationMonitors.length>0" class="messageholder">
    <messagebar :replyToMessage="replyToMessage" :dismissMessage="dismissMessage"
            v-for="message in conversationMonitors"
            :id="message.id"
            :date="message.sendTime"
            :contents="message.contents.length > 50 ? message.contents.substring(0,47) + '...' : message.contents" />
  </div>
  <spinner v-if="showSpinner" :message="spinnerMessage"></spinner>
  <div v-if="view==='files'" id="dnd" @drop="dndDrop($event)" @dragover.prevent v-bind:class="{ fillspace: true, not_owner: isNotMe }" v-on:contextmenu="openMenu($event)">

    <div v-if="view==='files'">
    <div class="grid" v-if="grid">
        <span class="column grid-item" v-for="file in sortedFiles" v-on:keyup.enter="navigateOrMenu($event, file)">
          <span class="grid_icon_wrapper fa" draggable="true" @dragover.prevent v-on:dragstart="dragStart($event, file)" @drop="drop($event, file)">
            <a class="picon" v-bind:id="file.getFileProperties().name" v-on:contextmenu="openMenu($event, file)">
              <span v-if="!file.getFileProperties().thumbnail.isPresent()" v-on:click="navigateOrMenu($event, file)" v-on:contextmenu="openMenu($event, file)"
		    v-bind:class="[getFileClass(file), getFileIcon(file), 'picon']"> </span>
              <img id="thumbnail" v-if="file.getFileProperties().thumbnail.isPresent()" v-on:click="navigateOrMenu($event, file)" v-on:contextmenu="openMenu($event, file)" v-bind:src="getThumbnailURL(file)"/>
                </a>
            <div class="content filename" >
              <div v-bind:class="{ noselect: true, shared: isShared(file) }">{{ file.getFileProperties().name }}</div>
            </div>
            </span>
        </span>
	<div v-if="sortedFiles.length==0 && currentDir != null && currentDir.isWritable()" class="instruction">
	  Upload a file by dragging and dropping here or clicking the <span class="fa fa-upload"/> icon
	</div>
	<center v-if="isSecretLink" class="bottom-message">
	  Join the revolution!<br/>
	  <button class="btn btn-lg btn-success" @click="gotoSignup()">Sign up to Peergos</button>
	</center>
    </div>
    <div class="table-responsive" v-if="!grid">
        <table class="table">
          <thead>
            <tr style="cursor:pointer;">
              <th @click="setSortBy('name')">Name <span v-if="sortBy=='name'" v-bind:class="['fas', normalSortOrder ? 'fa-angle-down' : 'fa-angle-up']"/></th>
              <th @click="setSortBy('size')">Size <span v-if="sortBy=='size'" v-bind:class="['fas', normalSortOrder ? 'fa-angle-down' : 'fa-angle-up']"/></th>
              <th @click="setSortBy('type')">Type <span v-if="sortBy=='type'" v-bind:class="['fas', normalSortOrder ? 'fa-angle-down' : 'fa-angle-up']"/></th>
              <th @click="setSortBy('modified')">Modified <span v-if="sortBy=='modified'" v-bind:class="['fas', normalSortOrder ? 'fa-angle-down' : 'fa-angle-up']"/></th>
            </tr>
          </thead>
          <tbody>
                <tr v-for="file in sortedFiles" v-on:keyup.enter="navigateOrMenu($event, file)" class="grid-item">
                  <td v-bind:id="file.getFileProperties().name"  v-on:click="navigateOrMenu($event, file)" v-on:contextmenu="openMenu($event, file)" style="cursor:pointer" v-bind:class="{ shared: isShared(file) }">{{ file.getFileProperties().name }}</td>
                  <td>{{ getFileSize(file.getFileProperties()) }}</td>
                  <td>{{ file.getFileProperties().getType() }}</td>
                  <td>{{ formatDateTime(file.getFileProperties().modified) }}</td>
                </tr>
          </tbody>
        </table>
    </div>
    </div>
  </div>
  <div style="display:flex;justify-content:flex-end;">
      <div v-if="!isSecretLink" style="font-size:1.4em;display:flex;align-items:center;margin: 5px;">
          Usage: {{ usage }} / {{ quota }}&nbsp;&nbsp;
          <div class="grid-item">
            <button tabindex="-1" class="btn btn-sm btn-success" @click="showRequestStorage()">Upgrade</button>
          </div>
      </div>
  </div>
    <button tabindex="-1" id="popup" v-if="!isSecretLink" class="feedback-button" @click="toggleFeedbackForm()">
      <div class="grid-item">
        Feedback
      </div>
    </button>
  <error
      v-if="showError"
      v-on:hide-error="showError = false"
      :title="errorTitle" 
      :body="errorBody"
      :messageId="messageId">
  </error>
</div>
