<transition name="modal">
    <div class="modal-mask-app" @click="close">
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <div class="modal-container" @click.stop style="height:100%;overflow-y:auto; max-width:1000px">
            <span @click="close" tabindex="0" v-on:keyup.enter="close" aria-label="close" class="close">&times;</span>
            <confirm
                    v-if="showConfirm"
                    v-on:hide-confirm="showConfirm = false"
                    :confirm_message='confirm_message'
                    :confirm_body="confirm_body"
                    :consumer_cancel_func="confirm_consumer_cancel_func"
                    :consumer_func="confirm_consumer_func">
            </confirm>
            <div class="modal-header">
                <h2>Installed Apps</h2>
            </div>
            <div class="modal-body">
                <spinner v-if="showSpinner"></spinner>
                <div class="flex-profile-container">
                    <div v-for="(app, index) in installedApps" class="flex-item">
                        <div><label style="margin-right:10px;">
                            {{app.details.displayName}}&nbsp;
                            {{app.details.majorVersion}}.{{app.details.minorVersion}}
                            </label>
                        </div>
                        <div style="flex-grow:1; display:flex; flex-wrap: wrap;">
                            <button class="btn btn-danger" @click="uninstallApp(index)">Uninstall</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</transition>
