<div class="modal-mask" @click="close" v-show="show" transition="modal">
  <div style="height:30%"></div>
  <div class="modal-container" @click.stop>
    
    <div class="modal-header">
            <h3>{{prompt_message}}</h3>
    </div>
    
    <div class="modal-body">
      <div class="container">
	<table>
	  <tr>
	    <td style="text-align:right; padding:20px">
                <input id="prompt-input" v-model="prompt_result" type="text" placeholder="{{placeholder}}" class="form-control" style="width:200px" v-on:keyup.enter="getPrompt(this.prompt_result)" autofocus></input>
	    </td>
        <td style="text-align:right"><button id='prompt-button-id' class="btn btn-success" @click="getPrompt(this.prompt_result)">OK</button></td>
	  </tr>
	</table>
      </div>
    </div>
  </div>
</div>
