<transition name="modal">
<div class="modal-mask" @click="close">
    <div style="height:30%"></div>
    <div class="modal-container" @click.stop>
        <span @click="close" tabindex="0" v-on:keyup.enter="close" aria-label="close" class="close">&times;</span>

      <div class="modal-header">
        <h3> Change password</h3>
      </div>

    <spinner v-if="showSpinner"></spinner>
      <div class="modal-body">
          <div class="form-group">
          <input type="password" name="pw0" id="pw0" class="form-control" v-model="existing" placeholder="Current password">
        </div>
        <button @click="generatePassword()" class="btn btn-large btn-block btn-success">Generate password</button>
        <br/>
        <div v-bind:class="errorClass">
            <label v-if="isError">{{ error }}</label>
            <div class="form-group">
                <div class="flex-row">
                    <input :type="passwordFieldType" name="password1" id="password1" v-on:keyup="validatePassword(true)" class="form-control password" v-model="password" placeholder="New password">
                    <div v-bind:class="['fa', 'password' == passwordFieldType ? 'fa-eye password-eye' : 'fa-eye-slash password-eye-slash']" @click="togglePassword1()"></div>
                </div>
            </div>
            <div class="form-group flex-row">
                <input :type="password2FieldType" name="password2" id="password2" v-on:focus="validatePassword(false)" class="form-control password" v-model="password2" placeholder="Confirm new password">
                <div v-bind:class="['fa', 'password' == password2FieldType ? 'fa-eye password-eye' : 'fa-eye-slash password-eye-slash']" @click="togglePassword2()"></div>
            </div>
        </div>
      </div>

      <div class="modal-footer">
          <slot name="footer">
          <button class="btn btn-success" @click="updatePassword">
              Change password
          </button>
          </slot>
      </div>
    </div>
</div>
</transition>
