<transition name="modal">
<div class="modal-mask" @click="close">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <div style="height:20%"></div>
    <div class="modal-container" @click.stop style="height:70%;overflow-y:auto;width:60%;">
        <span @click="close()" class="close">&times;</span>
        <div class="modal-header">
                <h2>{{title}}</h2>
        </div>
        <div class="modal-body">
            <spinner v-if="showSpinner"></spinner>
            <div id="social-post-main">
                <img id="profile-image" v-if="hasThumbnailImage()" style="width:150px; height:150px" v-bind:src="getThumbnailImage()"/>
                <p>
                <!-- button v-if="socialPostAction == 'add'" class="btn btn-success" onclick="document.getElementById('uploadInput').click()">Upload Image</button -->
                <input type="file" id="uploadInput" @change="uploadFile" style="display:none;" accept="image/*" />
                <button class="btn btn-danger" v-if="hasThumbnailImage()" v-on:click="removeImage()" >Remove Image</button>
                </p>
                <p>
                    <textarea id="social-post-text" style="width:100%;resize: none;" rows=2 :placeholder="textAreaPlaceholder" maxlength="1000" v-model="post"></textarea>
                </p>
                <div class="flex-container">
                    <div class="hspace-15">
                        <label style="font-weight: normal;">Share post with:</label>
                    </div>
                    <div class="hspace-15">
                        <input :disabled="socialPostAction=='edit'" type="radio" id="friends-option" value="Friends" v-model="shareWith">
                        <label for="friends-option" style="font-weight: normal;">Friends</label>
                    </div>
                    <div class="hspace-15">
                        <input :disabled="!allowFollowerSharingOption || socialPostAction=='edit'" type="radio" id="followers-option" value="Followers" v-model="shareWith">
                        <label for="followers-option" style="font-weight: normal;">Followers (Includes Friends)</label>
                    </div>
                    <div class="hspace-15">
                        <button :disabled="this.post.length == 0" class="btn btn-success" @click="submitPost()">
                            Post
                        </button>
                    </div>
                </div>

                </p>
            </div>
        </div>
    </div>
</div>
</transition>
