<div class="modal-mask" @click="close" v-show="show" transition="modal">
  <div style="height:30%"></div>
  <div class="modal-container" @click.stop>

    <div class="modal-header">
      <h3 id="warning-header-id">{{warning_message}}</h3>
    </div>

    <div class="modal-body">
      <div class="container" style="word-wrap:break-word;width:auto">
        <p id='warning-body-id' >{{ body }}</p>
      </div>
    </div>

    <div class="modal-footer">
      <slot name="footer">
      <button 
        id='modal-button-id' 
        class="modal-default-button" 
        @click="close">
        OK
      </button>
      <button 
        id='model-button-cancel' 
        class="modal-default-button">
        Cancel
      </button>
      </slot>
    </div>
  </div>
</div>
