<div class="fillspace">
  <login
    v-if="view=='login'"
    v-on:signup="signup"
    v-on:filesystem="filesystem">
  </login>
  <signup
    v-if="view=='signup'"
    v-on:filesystem="filesystem"
    :username="data.username"
    :password1="data.password1"
    :token="data.token"
    :crypto="data.crypto"
    :network="data.network">
  </signup>
  <filesystem
    v-if="view=='filesystem'"
    :context="data.context"
    :newsignup="data.signup"
    :initPath="data.initPath"
    :initiateDownload="data.download"
    :opengallery="data.open">
  </filesystem>
</div>
