<div class="fillspace">
    <div v-if="isSecretLink">
        <h2>Peergos</h2>
        <center>
            <img src="images/logo.png" alt="Peergos logo" class="image">
        </center>
        <h2>Loading secret link...</h2>
    </div>
    <login
        v-if="view=='login'"
        :network="network"
        v-on:signup="signup"
        v-on:filesystem="filesystem">
    </login>
    <signup
        v-if="view=='signup'"
        v-on:filesystem="filesystem"
        :initialUsername="data.username"
        :password1="data.password1"
        :token="data.token"
        :crypto="crypto"
        :network="network">
    </signup>
    <filesystem
        v-if="view=='filesystem'"
        :context="data.context"
        :newsignup="data.signup"
        :initPath="data.initPath"
        :initiateDownload="data.download"
        :openFile="data.open">
    </filesystem>
    <error
        v-if="showError"
        v-on:hide-error="showError = false"
        :title="errorTitle" 
        :body="errorBody">
    </error>
</div>
