<transition name="modal">
<div class="modal-mask" @click="close"> 
    <div class="modal-container full-height" @click.stop style="overflow-y:auto; max-width:1000px;">
      <span @click="close" class="close">&times;</span>
      <fingerprint v-if="showFingerprint"
		   v-on:hide-fingerprint="hideFingerprint"
		   :fingerprint="fingerprint"
		   :friendname="friendname"
		   :initialIsVerified="initialIsVerified"
		   :context="context">
      </fingerprint>
        <div class="modal-header">
            <h2>Social</h2>
        </div>

        <div class="modal-body">
            <spinner v-if="showSpinner"></spinner>
            <div>
                <div class="flex-container">
                  <div class="hspace-5"><h3>Send follow request:</h3></div>
		  <div class="flex-container" style="align-self: center;">
                    <div class="flex-grow flex-container hspace-5">
                      <input id="friend-name-input" v-model="targetUsername" type="text" class="token-input flex-grow" style="min-width:100px; max-width: 300px;" ></input>
                    </div>
                    <div class="hspace-5" style="text-align:right">
		      <button id='send-follow-request-id' class="btn btn-success" @click="sendInitialFollowRequest()">Send</button>
		    </div>
		  </div>
                </div>
            </div>

            <div>
                <h3>Incoming follow requests</h3>
                <div id='follow-request-table-id' class="flex-container table" style="flex-flow:column;">
                  <div v-for="req in data.pending" class="flex-container vspace-5" style="justify-content:space-between; max-width:700px;">
                    <div id='follow-request-id' style="font-size:1.5em;">{{ req.getEntry().ownerName }}</div>
		    <div class="flex-container" style="justify-content:space-evenly;">
                      <div class="hspace-5">
			<button class="btn btn-success" @click="acceptAndReciprocate(req)">Allow and follow back</button>
                      </div>
                      <div class="hspace-5">
			<button class="btn btn-info" @click="accept(req)">Allow</button>
                      </div>
                      <div class="hspace-5">
			<button class="btn btn-danger" @click="reject(req)">Deny</button>
                      </div>
		    </div>
		  </div>
                </div>
            </div>

            <div>
                <h3>Friends</h3>
                <div id='friend-table-id' class="table flex-container" style="flex-flow:column;">
                  <div v-for="username in data.friends" class="flex-container vspace-5" style="justify-content:space-between; max-width:700px;">
                    <div id='friend-id' style="font-size:1.5em;">
                        <a v-on:click="profile(username)" style="cursor: pointer">{{ username }}</a>
                        <span v-if="isVerified(username)" class="fas fa-check-circle"><span class="not-mobile">Verified</span></span>
		    </div>
		    <div class="flex-container" style="justify-content:space-evenly;">
                      <div class="hspace-5">
			<button class="btn btn-danger" @click="unfollow(username)">Unfollow</button>
		      </div>
		      <div class="hspace-5">
			<button class="btn btn-danger" @click="removeFollower(username)">Remove</button>
		      </div>
		      <div class="hspace-5">
			<button class="btn btn-success" @click="showFingerPrint(username)">Verification</button>
		      </div>
		    </div>
                  </div>
                </div>
            </div>

            <div>
                <h3>Followers</h3>
                <div id='follower-table-id' class="table flex-container" style="flex-flow:column;">
		  <div v-for="username in data.followers" class="flex-container vspace-5" style="justify-content:space-between; max-width:700px;">
                    <div id='follower-id' style="font-size:1.5em;">
		      {{ username }}
		    </div>
                    <div>
		      <button class="btn btn-danger" @click="removeFollower(username)">Remove</button>
		    </div>
                  </div>
                </div>
            </div>

            <div>
                <h3>Following</h3>
                <div class="table flex-container" style="flex-flow:column;">
                  <tr v-for="user in data.following" class="flex-container vspace-5" style="justify-content:space-between; max-width:700px;">
                    <div style="font-size:1.5em;">
		      {{ user }}
		    </div>
                    <div>
		      <button class="btn btn-danger" @click="unfollow(user)">Unfollow</button>
		    </div>
                  </tr>
		</div>
            </div>
        </div>
    </div>
</div>
</transition>
