<transition name="modal">
<div class="modal-mask" @click="close"> 
    <div class="modal-container full-height" @click.stop style="overflow-y:auto">
      <span @click="close" class="close">&times;</span>
      <fingerprint v-if="showFingerprint"
		   v-on:hide-fingerprint="hideFingerprint"
		   :fingerprint="fingerprint"
		   :friendname="friendname"
		   :initialIsVerified="initialIsVerified"
		   :context="context">
      </fingerprint>
        <div class="modal-header">
            <h2>Social</h2>
        </div>

        <div class="modal-body">
            <spinner v-if="showSpinner"></spinner>
            <div>
                <div class="flex-container">
                  <div class="hspace-5"><h3>Send follow request:</h3></div>
		  <div class="flex-container" style="align-self: center;">
                    <div class="flex-grow flex-container hspace-5">
                      <input id="friend-name-input" v-model="targetUsername" type="text" class="token-input flex-grow" style="min-width:100px; max-width: 300px;" ></input>
                    </div>
                    <div class="hspace-5" style="text-align:right">
		      <button id='send-follow-request-id' class="btn btn-success" @click="sendInitialFollowRequest()">Send</button>
		    </div>
		  </div>
                </div>
            </div>

            <div>
                <h3>Incoming follow requests</h3>
                <div id='follow-request-table-id' class="flex-container table" style="flex-flow:column;">
                  <div v-for="req in data.pending" class="flex-container vspace-5" style="justify-content:space-between; max-width:700px;">
                    <div id='follow-request-id' style="font-size:1.5em;">{{ req.getEntry().ownerName }}</div>
		    <div class="flex-container" style="justify-content:space-evenly;">
                      <div class="hspace-5" style="text-align:right">
			<button class="btn btn-success" @click="acceptAndReciprocate(req)">Allow and follow back</button>
                      </div>
                      <div class="hspace-5" style="text-align:right">
			<button class="btn btn-info" @click="accept(req)">Allow</button>
                      </div>
                      <div class="hspace-5" style="text-align:right">
			<button class="btn btn-danger" @click="reject(req)">Deny</button>
                      </div>
		    </div>
		  </div>
                </div>
            </div>

            <div>
                <h3>Friends</h3>
                <div id='friend-table-id' class="table flex-container" style="flex-flow:column;">
                  <div v-for="username in data.friends" class="flex-container vspace-5" style="justify-content:space-between; max-width:700px;">
                    <div id='friend-id' style="font-size:1.5em;">
		      {{ username }} <span v-if="isVerified(username)" class="fas fa-check-circle"><span class="not-mobile">Verified</span></span>
		    </div>
		    <div class="flex-container" style="justify-content:space-evenly;">
                      <div class="hspace-5" style="text-align:right">
			<button class="btn btn-danger" @click="unfollow(username)">Unfollow</button>
		      </div>
		      <div class="hspace-5" style="text-align:right">
			<button class="btn btn-danger" @click="removeFollower(username)">Remove</button>
		      </div>
		      <div class="hspace-5" style="text-align:right">
			<button class="btn btn-success" @click="showFingerPrint(username)">Verification</button>
		      </div>
                      <div class="hspace-5" style="text-align:right">
			<button class="btn btn-success" @click="profile(username)">Profile</button>
                      </div>
		    </div>
                  </div>
                </div>
            </div>

            <div>
                <h3>Followers</h3>
                <table id='follower-table-id' class="table table-responsive table-striped table-hover">
                  <tr v-if="data.followers.length==0">
		    <th></th>
		    <th style="text-align:right"></th>
		  </tr>
                    <tr v-for="username in data.followers">
                        <td id='follower-id'>{{ username }}</td>
                        <td style="text-align:right">
			  <button class="btn btn-danger" @click="removeFollower(username)">Remove</button>
			</td>
                    </tr>
                </table>
            </div>

            <div>
                <h3>Following</h3>
                <table class="table table-responsive table-striped table-hover">
                    <tr v-if="data.following.length==0"><th></th><th style="text-align:right"></th></tr>
                    <tr v-for="user in data.following">
                        <td>{{ user }}</td>
                        <td style="text-align:right">
			  <button class="btn btn-danger" @click="unfollow(user)">Unfollow</button>
			</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</transition>
