<transition name="modal">
<div class="modal-mask-app" @click="close">
    <div class="modal-container full-height" @click.stop style="width:100%;overflow-y:auto;padding:0;display:flex;flex-flow:column;">
        <div class="modal-header-app">
	  <span style="position:absolute;top:0;right:0.2em;">
	    <span @click="close" style="color:black;font-size:3em;font-weight:bold;cursor:pointer;">&times;</span>
	  </span>
        </div>

        <div class="modal-body" style="padding:0;display:flex;flex-grow:1;">
        <spinner v-if="showSpinner" :message="spinnerMessage"></spinner>
        <a id="downloadEventAnchor" style="display:none"></a>
	  <iframe id="editor" sandbox="allow-scripts allow-forms" src="apps/calendar/index.html" style="width:100%" frameBorder="0"></iframe>
        </div>
        <prompt
                v-if="showPrompt"
                v-on:hide-prompt="showPrompt = false"
                :prompt_message='prompt_message'
                :placeholder="prompt_placeholder"
                :max_input_size="prompt_max_input_size"
                :value="prompt_value"
                :consumer_func="prompt_consumer_func">
        </prompt>
        <confirm
                v-if="showConfirm"
                v-on:hide-confirm="showConfirm = false"
                :confirm_message='confirm_message'
                :confirm_body="confirm_body"
                :consumer_cancel_func="confirm_consumer_cancel_func"
                :consumer_func="confirm_consumer_func">
        </confirm>
    </div>
</div>
</transition>
