<div class="modal-mask" @click="close" v-show="show" transition="modal">
    <div style="height:30%"></div>
    <div class="modal-container" @click.stop>

        <div class="modal-header">
            <h3 id="modal-header-id">{{ title }}</h3>
        </div>

        <div class="modal-body">
            <div class="container"><p style="word-wrap;break-all;">
                <div v-for="link in links" style="font-size: 1.2em;">
                    <a  href="{{ link.href }}">{{ link.name }}</a>
                    <input id="{{ link.id }}" type="text" value="{{ link.href }}" style="display: none">
                    <button class="fa fa-clipboard" style="padding: 6px 12px;" @click="copyUrlToClipboard($event)">&nbsp;Copy to clipboard</button>
                    </p>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <slot name="footer">
            <button id='modal-button-id' class="modal-default-button" @click="close">
                OK
            </button>
            </slot>
        </div>
    </div>
</div>
