<transition name="modal">
<div class="modal-mask" @click="$emit('hide-modal')">
    <div style="height:30%"></div>
    <div class="modal-container" @click.stop>

        <div class="modal-header">
            <h3 id="modal-header-id">{{ title }}</h3>
        </div>

        <div class="modal-body">
            <div class="container"><p style="word-wrap;break-all;">
                <div v-for="link in urlLinks" style="font-size: 1.2em;">
                    <div v-if="link.isFile">
                        <input type="checkbox" @change="onAutoOpen(link.id)" v-model="link.autoOpen">
                        <label style="font-weight: normal;">Auto Open</label>
                    </div>
                    <strong><a v-bind:href="link.href">{{ link.name }}</a></strong>
                    <input v-bind:id="link.id" type="text" v-bind:value="link.href" style="display: none">
                    <button class="fa fa-clipboard" style="padding: 6px 12px;" @click="copyUrlToClipboard($event)">&nbsp;Copy to clipboard</button>
                </p>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <slot name="footer">
            <button
                  id='modal-button-id'
                  class="btn btn-success"
                  @click="$emit('hide-modal')">
                OK
            </button>
            </slot>
        </div>
    </div>
</div>
</transition>
