<transition name="modal">
<div class="modal-mask-app" @click="close">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <div class="modal-container" @click.stop style="height:100%;overflow-y:auto; max-width:1000px">
        <span @click="close" class="close">&times;</span>
        <confirm
                v-if="showConfirm"
                v-on:hide-confirm="showConfirm = false"
                :confirm_message='confirm_message'
                :confirm_body="confirm_body"
                :consumer_cancel_func="confirm_consumer_cancel_func"
                :consumer_func="confirm_consumer_func">
        </confirm>
        <div class="modal-header">
            <h2>Profile</h2>
        </div>
        <div class="modal-body">
            <spinner v-if="showSpinner"></spinner>

            <div class="flex-thumbnail-container">
              <div style="padding:20px;">
		<img id="profile-image" v-if="hasProfileImage()" style="width:150px; height:150px" v-bind:src="getProfileImage()"/>
	      </div>
              <div class="flex-image-button-container">
                <div class="flex-container">
		  <button class="btn btn-success flex-grow" @click="triggerUpload">Upload Image</button>
		  <input type="file" id="uploadImageInput" @change="uploadImageFile" style="display:none;" accept="image/*" />
		</div>
                <div class="flex-container">
		  <button class="btn btn-danger flex-grow vertical-margin" v-if="hasProfileImage()" v-on:click="removeImage()" >Remove Image</button>
		</div>
                <div class="flex-container">
		  <button class="btn btn-success flex-grow" v-if="hasProfileImage()" @click="share('photo', 'Profile image')" >Share</button>
		</div>
              </div>
            </div>
            <div class="flex-profile-container">
              <div class="flex-item-left">
		<label style="margin-right:10px;">First name</label>
		<div style="flex-grow:1; display:flex; flex-wrap: wrap;">
                  <input id="profile-first-name" class="form-control-profile" v-model="firstName" placeholder="First Name" :maxlength="FIRSTNAME_MAX_LENGTH">
                  <button v-if="firstNameReadyToBeShared" class="btn btn-success" @click="share('firstname', 'First name')">Share</button>
		</div>
              </div>
              <div class="flex-item-right">
		<label style="margin-right:10px;">Last name</label>
		<div class="flex-container flex-grow">
                  <input id="profile-last-name" class="form-control-profile" v-model="lastName" placeholder="Last Name" :maxlength="LASTNAME_MAX_LENGTH">
                  <button v-if="lastNameReadyToBeShared" class="btn btn-success" @click="share('lastname', 'Last name')">Share</button>
		</div>
              </div>
              <div class="flex-item-left">
		<label style="margin-right:10px;">Phone</label>
		<div class="flex-container flex-grow">
                  <input id="profile-primary-phone" class="form-control-profile" v-model="primaryPhone" placeholder="Primary Phone Number" :maxlength="PHONE_MAX_LENGTH">
                  <button v-if="primaryPhoneReadyToBeShared" class="btn btn-success" @click="share('phone', 'Phone number')">Share</button>
		</div>
              </div>
              <div class="flex-item-right">
		<label style="margin-right:10px;">Email</label>
		<div class="flex-container flex-grow">
                  <input id="profile-primary-email" class="form-control-profile" v-model="primaryEmail" placeholder="Primary Email Address" :maxlength="EMAIL_MAX_LENGTH">
                  <button v-if="primaryEmailReadyToBeShared" class="btn btn-success" @click="share('email', 'Email address')">Share</button>
		</div>
              </div>
            </div>
            <div class="flex-item">
                <div><label>Status</label></div>
            </div>
            <div class="flex-item">
                <div style="flex-grow: 2">
                    <input id="profile-status" style="width: 100%;" class="form-control-profile" v-model="status" placeholder="Status" :maxlength="STATUS_MAX_LENGTH">
                </div>
                <div>
                    <button v-if="statusReadyToBeShared" class="btn btn-success" @click="share('status', 'Status message')">Share</button>
                </div>
            </div>
            <div class="flex-item">
                <div><label>Biography</label></div>
            </div>
            <div class="flex-item">
                <div style="flex-grow: 2">
                    <textarea id="profile-biography" class="form-control-profile" style="width: 100%;resize: none;" v-model="biography" placeholder="Biography" rows=3 :maxlength="BIO_MAX_LENGTH"></textarea>
                </div>
                <div>
                    <button v-if="biographyReadyToBeShared" class="btn btn-success" @click="share('bio', 'Biography')">Share</button>
                </div>
            </div>
            <div class="flex-item">
                <div>
                    <label>Website Directory</label>&nbsp;<i class="fa fa-question-circle" aria-hidden="true"  @click="showPublishHelp()" style="cursor: pointer"></i>
                </div>
            </div>
            <div class="flex-item">
                <div>
                    <input id="profile-web-root" style="width:100%" class="form-control-profile" v-model="webRoot" placeholder="Website Directory" :maxlength="WEBROOT_MAX_LENGTH">
                </div>
                <div>
                    <button v-if="webRootReadyToBePublished" class="btn btn-success" @click="publishWebroot()">Publish</button>
                </div>
            </div>
            <div class="flex-item" v-if="webRootUrl.length > 0">
                <div><span>Publically visible at:</span>
                </div>
                <div>
                    <a v-bind:href="webRootUrl" target="_blank" rel="noopener noreferrer">{{webRootUrl}}</a>
                </div>
            </div>
            <div class="flex-line-item">
                <div>
                    <button class="btn btn-success" style = "width:100%" @click="update()">Save Profile</button>
                </div>
            </div>
        </div>
    </div>
</div>
</transition>
