<transition name="modal">
    <div class="modal-mask" @click="close">
        <div style="height:30%"></div>
        <div class="modal-container" @click.stop>

            <div class="modal-header">
                <h3>{{select_message}}</h3>
            </div>

            <div class="modal-body">
                <div class="container">
                    <div style="display: flex;align-items: center;">
                        <div style="margin: 10px;">
                            <select v-model="selected" @change="onChange($event)" class="form-control" style="min-width: 125px;">
                                <option v-for="option in options" v-bind:value="option.value" v-bind:disabled="option.disabled">
                                    {{ option.text }}
                                </option>
                            </select>
                        </div>
                        <div id="name-input" style="display: none; margin: 10px;">
                            <input id="create-input" v-model="select_result" type="text"
                                   v-bind:placeholder="select_placeholder" class="form-control" maxlength="25" v-on:keyup.enter="setResult" autofocus></input>
                        </div>
                        <div id="name-input-button" style="display: none; margin: 10px;">
                            <button id='create-new-button-id' class="btn btn-success" @click="setResult()">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</transition>
