<div class="modal-mask" @click="close" v-show="show" transition="modal">
    <div style="height:30%"></div>
    <div class="modal-container" @click.stop>

        <div class="modal-header">
            <h3>{{ data.title }}</h3>
        </div>

        <div class="modal-body">
            <div class="container"><p style="word-wrap;break-all;">
                <ul>
                <li v-for="user in data.shared_with_users">{{ user }} <button v-on:click="unshare(user)">X</button></li>
                </ul>
            </div>
        </div>

        <div class="modal-footer">
            <slot name="footer">
            <button class="modal-default-button" @click="close">
                OK
            </button>
            </slot>
        </div>
    </div>
</div>
