<div class="modal-mask" @click="close" v-show="show" transition="modal">
    <div class="modal-container" @click.stop style="height:95%;width:95%;overflow-y:auto" >
        <spinner v-if="showSpinner"></spinner>
        <center>
            <h2 v-if="file != null" >{{ file.getFileProperties().name }}</h2>
        </center>
        
        <center style="height:75%;max-width:100%;font-family: monospace;" >
	  <table>
	    <tr v-for="line in lines" track-by="$index">
	      <td><span v-for="word in line">{{word}}&nbsp;</span></td>
	    </tr>
	  </table>
        </center>
    </div>
</div>
