<div class="modal-mask" @click="close" v-show="show" transition="modal">
    <div class="modal-container" @click.stop style="height:90%;width:90%;overflow-y:auto" @keyup.right="next" @keyup.left="previous">
        <spinner v-if="showSpinner"></spinner>
        <center>
            <h2 v-if="current != null" >{{ current.getFileProperties().name }}</h2>
        </center>
        <center>
            <div class="btn-group" style="padding:10px;">
                <button @click="start()" class="btn btn-large center-block btn-primary">First</button>
                <button @click="previous()" class="btn btn-large center-block btn-primary">Previous</button>
                <button @click="next()" class="btn btn-large center-block btn-primary">Next</button>
                <button @click="end()" class="btn btn-large center-block btn-primary">Last</button>
            </div>
        </center>
        <center style="height:100%" @keyup.right="next" @keyup.left="previous">
            
            <img v-if="currentIsImage" style="height:90%;max-width:100%;max-height:85%;text-align:center;line-height:200px" v-touch:tap="next()" v-on:longpress="openMenu($event, current)" v-on:contextmenu="openMenu($event, current)" v-bind:src="dataURL" alt="Image loading..." @keyup.right="next" @keyup.left="previous"/>
            <video v-else-if="currentIsVideo" style="height:90%;max-width:100%;max-height:85%;text-align:center;line-height:200px" v-bind:src="dataURL" alt="Video loading..." controls/>
            <audio v-else-if="currentIsAudio" v-bind:src="dataURL" alt="Audio loading..." controls/>
        </center>
    </div>
</div>
