<transition name="modal">
<div class="modal-mask-app" @click="close">
    <div style="height:10%"></div>
    <div class="modal-container" @click.stop style="height:100%">
        <span @click="close" class="close">&times;</span>
        <div class="modal-header">
            <h2>Timeline</h2>
        </div>

        <div class="modal-body">
            <social-post
                    v-if="showSocialPostForm"
                    :closeSocialPostForm="closeSocialPostForm"
                    :socialFeed="socialFeed"
                    :context="context"
                    :showMessage="showMessage"
                    :groups="groups"
                    :socialPostAction="socialPostAction"
                    :currentSocialPostTriple="currentSocialPostTriple">
            </social-post>
            <spinner v-if="showSpinner"></spinner>
            <button class="btn btn-success" @click="addNewPost()">
                Create Post
            </button>
            <div id="scroll-area" v-on:scroll="handleScrolling()" style="height: 400px;overflow-y: scroll;">
	      <center v-if="data.length==0">
		<h3>
		  This is your social feed.
		</h3>
		<h3>
		  You can see here all the things that have been shared with you by friends or people you follow.
		</h3>
	      </center>
                <table class="table table-responsive table-striped table-hover">
                  <tr v-if="data.length==0"><th></th></tr>
                    <tr v-for="entry in data">
                        <td v-if="entry.isLastEntry">
                            <span>No more entries</span>
                        </td>
                        <td v-if="entry.isLastEntry">
                        </td>
                        <td v-if="!entry.isLastEntry">
                            <div v-if="!entry.isPost">
                                <a v-on:click="profile(entry.sharer)" style="cursor: pointer">
                                    <span>{{ entry.sharer }}</span>
                                </a>
                                <span>{{ entry.info }}</span>
                                <a v-if="entry.displayFilename" v-on:click="navigateTo(entry)" style="cursor: pointer">
                                    <span :title="entry.link">{{ entry.name }}</span>
                                </a>
                                <span v-if="!entry.isDirectory">
                                    <button class="btn btn-success" @click="addComment(entry)">Add comment</button>
                                </span>
                            </div>
                            <div v-if="entry.isPost">
                                <a v-if="entry.sharer != context.username" v-on:click="profile(entry.sharer)" style="cursor: pointer">
                                    <span>{{ entry.sharer }}</span>
                                </a>
                                {{ entry.info }}
                                <div class="social-post">{{ entry.name }}
                                </div>
                            </div>
                        </td>
                        <td v-if="!entry.isLastEntry">
                            <div v-if="!entry.isPost">
                                <span class="grid_icon_wrapper fa">
                                <a v-if="!entry.hasThumbnail">
                                    <span style="height:100px" v-on:click="view(entry)" v-bind:class="[entry.isDirectory ? 'dir' : 'file', getFileIconFromFileAndType(entry.file, entry.fileType), 'picon-timeline']"> </span>
                                </a>
                                <img v-if="entry.hasThumbnail" v-on:click="view(entry)" v-bind:src="entry.thumbnail" style="cursor: pointer"/>
                                </span>
                            </div>
                            <div v-if="entry.isPost">
                                <span>
                                    <button v-if="entry.sharer != context.username" class="btn btn-success" @click="addComment(entry)">share comment</button>
                                    <!-- button v-if="entry.sharer == context.username" class="btn btn-success" @click="editPost()">Edit Post</button -->
                                    <button v-if="entry.sharer == context.username" class="btn btn-danger" @click="deletePost(entry)">Delete Post</button>
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</transition>
