<transition name="modal">
<div class="modal-mask-app" @click="close">
    <div style="height:10%"></div>
    <div class="modal-container" @click.stop style="height:100%">
        <span @click="close" class="close">&times;</span>
        <div class="modal-header">
            <h2>Timeline</h2>
        </div>

        <div class="modal-body">
            <social-post
                    v-if="showSocialPostForm"
                    :closeSocialPostForm="closeSocialPostForm"
                    :socialFeed="socialFeed"
                    :context="context"
                    :showMessage="showMessage"
                    :groups="groups"
                    :socialPostAction="socialPostAction"
                    :currentSocialPostEntry="currentSocialPostEntry">
            </social-post>
            <spinner v-if="showSpinner"></spinner>
            <button class="btn btn-success" @click="addNewPost()">
                Write Post
            </button>
            <div id="scroll-area" v-on:scroll="handleScrolling()" style="height: 400px;overflow-y: scroll;">
	      <center v-if="data.length==0">
		<h3>
		  This is your social feed.
		</h3>
		<h3>
		  You can see here all the things that have been shared with you by friends or people you follow.
		</h3>
	      </center>
                <table class="table table-responsive table-striped table-hover">
                    <tr v-if="data.length==0"><th></th></tr>
                    <tr v-for="entry in blocks">
                        <td v-if="entry[0].isLastEntry">
                            <span>No more entries</span>
                        </td>
                        <td v-if="entry[0].isLastEntry">
                        </td>
                        <td v-if="!entry[0].isLastEntry && !entry[0].isPost && !entry[0].isMedia">
                                <a v-if="entry[0].sharer != context.username" v-on:click="profile(entry[0].sharer)" style="cursor: pointer">
                                    <span>{{ entry[0].sharer }}</span>
                                </a>
                                <span>{{ entry[0].info }}</span>
                                <a v-if="entry[0].displayFilename" v-on:click="navigateTo(entry[0])" style="cursor: pointer">
                                    <span :title="entry[0].link">{{ entry[0].name }}</span>
                                </a>
                                <span v-if="!entry[0].isDirectory && entry[0].sharer != context.username && !entry[0].isMedia">
                                    <button class="btn btn-success" @click="addComment(entry[0])">Add comment</button>
                                </span>
                        </td>
                        <td v-if="!entry[0].isLastEntry && (entry[0].isPost || entry[0].isMedia)" colspan="2">
                            <div style="border: 1px solid black;border-radius: 11px;">
                                <table class="table-responsive table-striped table-hover" style="font-size: 1.0em;">
                                    <tr v-if="row.isMedia" v-for="row in entry">
                                        <td>
                                            <span v-if="!row.isDirectory && row.sharer != context.username && !row.isMedia">
                                                <button class="btn btn-success" @click="addComment(row)">Add comment</button>
                                            </span>
                                        </td>
                                        <td>
                                            <div>
                                                <span class="grid_icon_wrapper fa">
                                                <a v-if="!row.hasThumbnail">
                                                    <span style="height:100px" v-on:click="view(row)" v-bind:class="[row.isDirectory ? 'dir' : 'file', getFileIconFromFileAndType(row.file, row.fileType), 'picon-timeline']"> </span>
                                                </a>
                                                <img v-if="row.hasThumbnail" v-on:click="view(row)" v-bind:src="row.thumbnail" style="cursor: pointer"/>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr v-if="row.isPost" v-for="row in entry">
                                        <td>
                                            <div v-bind:style="{ marginLeft: indent(row) }">
                                                <a v-if="row.sharer != context.username" v-on:click="profile(row.sharer)" style="cursor: pointer">
                                                    <span>{{ row.sharer }}</span>
                                                </a>
                                                {{ row.info }}
                                                <div class="social-post">{{ row.name }}</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <span style="margin: 10px;">{{ row.status}}
                                                    <div  style="margin-left: 10px;">
                                                        <button class="btn btn-success" @click="addComment(row)">comment</button>
                                                        <button v-if="row.sharer == context.username" class="btn btn-success" @click="editPost(row)">edit</button>
                                                        <button v-if="row.sharer == context.username" class="btn btn-danger" @click="deletePost(row)">delete</button>
                                                    </div>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                        <td v-if="!entry[0].isLastEntry">
                            <div v-if="!entry[0].isPost && !entry[0].isMedia">
                                <span class="grid_icon_wrapper fa">
                                <a v-if="!entry[0].hasThumbnail">
                                    <span style="height:100px" v-on:click="view(entry[0])" v-bind:class="[entry[0].isDirectory ? 'dir' : 'file', getFileIconFromFileAndType(entry[0].file, entry[0].fileType), 'picon-timeline']"> </span>
                                </a>
                                <img v-if="entry[0].hasThumbnail" v-on:click="view(entry[0])" v-bind:src="entry[0].thumbnail" style="cursor: pointer"/>
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</transition>
