<div class="modal-mask" @click="close" v-show="show" transition="modal">
    <div style="height:30%"></div>
    <div class="modal-container" @click.stop style="height:70%;overflow-y:auto">
        <div class="modal-header">
            <h2>Feedback</h2>
        </div>
        <div class="modal-body">
            <spinner v-if="showSpinner"></spinner>
            <form id="feedback-main">
                <p>
                <textarea 
                     rows="8" 
                     cols="40" 
                     placeholder="Let us know what we can improve."></textarea>
                </p>
                <p>
                <button class="btn btn-success">
                    Submit
                </button>
                </p>
            </form>
        </div>
    </div>
</div>
