<transition name="modal">
<div class="modal-mask" @click="$emit('hide-tour')">
    <div class="modal-container" @click.stop style="display:flex;flex-direction: column;padding: 0;max-width:1200px;height: 100%;">

      <div class="modal-body" style="height:100%;flex:1;padding: 0;">
	<center>
          <h3 id="modal-header-id"> {{ headline }}</h3>
	</center>
        <div class="container" style="height:90%;display:flex;">
	  <div style="display:flex;flex-direction: column;width: 100%;">
	    <div class="tour-carousel" style="flex:1;">
	      <div style="flex:1;">
		<center v-if="image != null">
		  <img :src="image" style="max-width:100%"/>
		</center>
		<center style="font-size:large;">
		  <div style="width:80%;">
		    {{ text }}
		  </div>
		</center>
	      </div>
	    </div>
	    <!-- indicators -->
	    <center>
	      <button
		style="font-size:xx-large;padding-left:0;padding-right:0;"
		class="fas fa-angle-left"
		@click="showPrevElement"
		:disabled="this.reachedMaxLeft"
		/>
	      <ul style="list-style-type: none;padding: 0;display: inline;">
		<li
		  v-for="(_, index) in this.cards"
		  class="dot"
		  :key="index"
		  :class="{'dot-selected': currentElementIndex === index}"
		  >
		  <button
		    class="indicator-btn"
		    @click='showElement(index)'
		    :disabled=" currentElementIndex === index"
		    />
		</li>
	      </ul>
	      <button
		style="font-size:xx-large;padding-left:0;padding-right:0;"
		class="fas fa-angle-right"
		@click="showNextElement"
		:disabled="this.reachedMaxRight"
		/>
	      <br/>
	      <button 
              id='modal-button-id' 
		class="btn btn-danger"
		style="display: block;float:;"
		@click="$emit('hide-tour')">
		Skip tour
              </button>
	    </center>
	  </div>
        </div>
      </div>
    </div>
</div>
</transition>
