<transition name="modal">
<div class="modal-mask" @click="close"> 
    <div class="modal-container full-height" @click.stop style="overflow-y:auto">
      <span @click="close" class="close">&times;</span>
        <div class="modal-header">
            <h2>Search</h2>
        </div>
        <div class="modal-body">
            <spinner v-if="showSpinner"></spinner>
                <table class="width:100%">
                    <tr>
                    <td class="width:30%">
                        <select v-model="selectedSearchType">
                            <option value="contains">contains</option>
                            <option value="modifiedAfter">modified after</option>
                            <option value="modifiedBefore">modified before</option>
                            <option value="fileSizeGreaterThanMB">size greater than</option>
                            <option value="fileSizeLessThanMB">size less than</option>
                        </select>
                    </td>
                    <td class="width:30%">
                        <div v-if="selectedSearchType=='contains'">
                            <td style="padding:20px">
                                <input v-model="searchFilenameContains" placeholder=""type="text" style="width: 300px;" ></input>
                            </td>
                        </div>
                        <div v-if="selectedSearchType=='modifiedAfter'">
                            <td style="padding:20px">
                                <input v-model="searchFileModifiedAfter" placeholder="YYYY/MM/DD" type="text" style="width: 300px;" ></input>
                            </td>
                        </div>
                        <div v-if="selectedSearchType=='modifiedBefore'">
                            <td style="padding:20px">
                                <input v-model="searchFileModifiedBefore" placeholder="YYYY/MM/DD" type="text" style="width: 300px;" ></input>
                            </td>
                        </div>
                        <div v-if="selectedSearchType=='fileSizeGreaterThanMB'">
                            <td style="padding:20px">
                                <input v-model="searchFileSizeGreaterThanMB" placeholder="1 kilobyte(s)" type="text" style="width: 300px;" ></input>
                            </td>
                        </div>
                        <div v-if="selectedSearchType=='fileSizeLessThanMB'">
                            <td style="padding:20px">
                                <input v-model="searchFileSizeLessThanMB" placeholder="1 kilobyte(s)" type="text" style="width: 300px;" ></input>
                            </td>
                        </div>
                    </td>
                    <td class="width:40%">
                        <td style="text-align:right"><button id='submit-search' class="btn btn-success" @click="search()">Search</button></td>
                    </td>
                    </tr>
                </table>
            </div>

            <div>
                <h3>Results: {{ matches.length }}</h3>
                <table id='search-results-table-id' class="table table-responsive table-striped table-hover">
                    <tr v-if="matches==0"><th></th><th></th><th></th><th></th></tr>
                    <tr v-if="matches!=0"><th>Name</th><th>Directory</th><th style="text-align:right">Size</th><th style="text-align:right">Last Modified</th></tr>
                    <tr v-for="match in sortedItems">

                        <td id='entry-id' v-on:click="view(match, true)">{{ match.name }}</td>
                        <td v-on:click="navigateTo(match)">
                            {{ match.path }}
                        </td>
                        <td style="text-align:right">
                            {{ match.size }}
                        </td>
                        <td style="text-align:right">
                            {{ match.lastModified }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</transition>
