<transition name="modal">
<div class="modal-mask" @click="close">
    <div style="height:30%"></div>
    <div class="modal-container" @click.stop>

      <div class="modal-header">
        <h3> Video Capture</h3>
      </div>

      <div class="modal-body">
          <div v-bind:class="errorClass">
              <label v-if="isError">{{ error }}</label>
          </div>
              <button class="btn btn-success" @click="toggleCapture">
                  {{ buttonLabel }}
              </button>
              <center>
                  <video id="preview" style="width:300px;" autoplay="autoplay" muted="muted" />
              </center>
      </div>
      <div class="modal-footer">
      </div>
    </div>
</div>
</transition>
