body {
	margin: 0;
	font-family: var(--font-stack);
	font-size: var(--text);

	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	max-width: 100%;
	overflow-x: hidden;
	overflow-y: auto;

	color: var(--color);
	background-color: var(--bg);
	transition: background-color 0.3s;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

a {
	color: currentColor;
	text-decoration: none;
}

.stretched-link::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.toggle-button--mobile {
	background-color: var(--bg-2);
}


h1, h2, h3{
	font-size: var(--title);
	font-weight: var(--bold);
	line-height: var(--title-height)
}

/* Funtional css */

.text-small{
	font-size: var(--text-small);
}
.text-mini{
	font-size: var(--text-mini);
}


/* Forms */

input[type=text],
input[type=password]{
	width:100%;
	margin: 8px 0;
	padding: 0 16px;

	font-size: var(--text);
	/* text-transform: lowercase; */
	line-height: 48px;
	border-radius: 4px;

	-webkit-appearance:none;
    -moz-appearance:none;
    appearance: none;

	outline: none;
	box-shadow: none;

	border: 2px solid var(--green-500);
	color: var(--color);
    background-color: var(--bg);
}
input:focus,
input:active,
input:focus-visible{
	outline:none;
	border: 2px solid var(--green-500)!important;
}
/* TODO: quick reset, we shopuld properly remove other styles */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:focus,
input:active,
input:focus-visible{
	color:var(--color);
	font-size: var(--text);
	box-shadow:none;
	-webkit-text-fill-color: var(--color);
	-webkit-box-shadow:0 0 0 30px var(--bg-2) inset;
	border-color: var(--bg-2);
}



/* Fade transition  */

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}


/* MQ visibility */


@media (max-width: 1024px) {
	.mobile-hidden{
		display: none!important;
	}
}
@media (min-width: 1024px) {
	.desktop-hidden{
		display: none!important;
	}

}
/*
.desktop {
	visibility: visible;
}

.mobile {
	visibility: hidden;
	display: none;
}

@media (max-width: 1024px) {
	.desktop {
		visibility: hidden !important;
		display: none;
	}

	.mobile {
		visibility: visible !important;
	}
} */
