body {
  background-color: #FFFFFF;
}
body .grid {
  height: 100%;
}
span.picon {
  font-size: 3.5em;
}
span.pnavbar {
  font-size: 2em;
}
span.file_icon {
    cursor:pointer;
}
div.grid_icon_wrapper {

}