html {
    height: 100%;
}
body {
    background-color: #FFFFFF;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', Sans-Serif;
}

.token-input {
    width:100% !important;
}

.btn-success {
    background-color: #26b99a !important;
    border-color: #16a98a !important;
}

.btn-success:hover {
    background-color: #26a69a !important;
}

.tour-carousel {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: black;
  opacity: 0.2;
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin: 0 6px;
}

.dot-selected {
  opacity: 0.7;
  cursor: default;
}

.indicator-btn {
  position: absolute;
  left: 0px;
  padding: 0px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: transparent;
  border: none;
}

.bottom-message {
    position:absolute;
    bottom:10%;
    left:10%;
    width:80%;
    font-size:2em;
}

.flex-row {
    display: flex;
}

.password-eye {
    font-size: 1.5em;
    align-self: center;
}

.password-eye-slash {
    font-size: 1.5em;
    align-self: center;
}

.password {
    position: inherit;
}

.close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    opacity: 1;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.shared {
  color: #009900;
}

.not_owner {
  background-color: #DDDDDD;
}

body .grid {
  height: 100%;
  padding-top: 60px;
  padding-left: 4em;
}
@media (max-width: 980px) {
  body {
    padding-top: 0px;
  }
}
.picon{
  font-size: 2.5em;
  word-wrap: break-word;
  max-width: 5em;
}
.picon:hover {
  color: #26b99a;
}
.pnavbar {
  font-size: 1.7em;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}
.filename {
  font-family: 'Montserrat', Sans-Serif;
  font-size: 1.2em;
  word-wrap: break-word;
  max-width: 5em;
  margin: 0.5em;
}
.btn_pnavbar {
    font-family: 'Montserrat', Sans-Serif;
    color:#333;
    font-size: 1.7em;
    padding: 2px 6px;
    margin-bottom:0.4em;
}
.pnavbar_top_right {
  font-size: 1.7em;
  margin-top:0.2em;
  margin-left:0.4em;
  margin-right:0.4em;
  position:absolute;
  float:right;
  top:0;
  right:0;
}
.top_right_icon {
    font-size: 1em;
    padding: 3px 12px;
}
.dir {
  cursor: pointer;
  color: #26a69a;
}
.dir:hover {
  color: #26b99a;
}
.file {
  cursor: pointer;
  color: #2c3e50;
}
.file:hover {
  color: #35495e;
}
.grid_icon_wrapper {
  margin: 1em;
}
.nopad {
    margin-top: -0.2em;
    padding:0;
}
table {
  font-size: 1.5em;
}
.table-responsive {
  padding: 2em;
}
.navbar-nav {
  margin: 0em;
}
.navbar {
    flex-shrink: 0;
    margin-bottom: 0em;
}
@media (min-width: 768px) {
   .navbar-collapse.collapse {
       display: inline-block !important;
   }
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.instruction {
    font-size: 2em;
    color: #999;
    text-align: center;
    width: 100%;
    padding-top: 5%;
    padding-right:5%;
}

.feedback-button{
    height:40px; 
    border:solid 3px #CCCCCC; 
    background:#333;
    width:120px; 
    line-height:32px; 
    -webkit-transform:rotate(-90deg);
    font-weight:600; 
    color:white; 
    transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    text-align:center; 
    font-size:17px; 
    position:fixed; 
    right:-40px; 
    top:45%;
    z-index:999; 
}

#right-click-menu{
    background: #FAFAFA;
    border: 1px solid #BDBDBD;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 250px;
    z-index: 999999;
}

#right-click-menu li {
    border-bottom: 1px solid #E0E0E0;
    margin: 0;
    padding: 5px 35px;
}

#right-click-menu li:last-child {
    border-bottom: none;
}

#right-click-menu li:hover {
    background: #1E88E5;
    color: #FAFAFA;
}

#right-click-menu-profile{
    background: #FAFAFA;
    border: 1px solid #BDBDBD;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 250px;
    z-index: 999999;
}

#right-click-menu-profile li {
    border-bottom: 1px solid #E0E0E0;
    margin: 0;
    padding: 5px 35px;
}

#right-click-menu-profile li:last-child {
    border-bottom: none;
}

#right-click-menu-profile li:hover {
    background: #1E88E5;
    color: #FAFAFA;
}

.progressholder {
  position: fixed;
  z-index: 9998;
  right: 0;
  overflow-y: auto;
  height: 80%;
  width: 400px
}

.progressbar {
  padding: 10px;
  background-color: #fff;
  transition: opacity .3s ease;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33) inset;
}

.progresscontainer {
  padding: 10px;
}

.messageholder {
  z-index: 9998;
  overflow-y: auto;
}

.messagebar {
  padding: 10px;
  background-color: #fff;
  transition: opacity .3s ease;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33) inset;
}

.messagecontainer {
  padding: 2px;
}

.qrcode-container {
    position: relative;
    width: 400px;
    height: 400px;
}
.qrcode {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 600px) {
    .qrcode-container {
	padding-bottom: 100%;
	width: 100%;
	height: unset;
    }
}

.modal-mask {
  position: fixed;
  z-index: 2500;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  transition: opacity .3s ease;
}

.modal-mask-app {
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  transition: opacity .3s ease;
}

.full-height {
    height:100%;
}

.modal-container {
    width: 90%;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

@media (max-width: 600px) {
    .modal-container {
	width: 100%;
	padding: 10px 10px;
    }

    .modal-body {
	margin: 0 0;
	padding: 10px;
    }
}

.modal-header-app {
    min-height:16px;
    padding:15px;
}

.modal-header h3 {
  margin-top: 0;
  color: #26b99a;
}

.modal-header-app {
    min-height:16px;
    padding:15px;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
  color: #fff;
  background-color: #5cb85c;
  border-color: 34cae4c;
  padding: 6px 12px;
  border:1px solid transparent;
  border-radius:4px
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter, .modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.fillspace {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-grow: 1;
    left: 0;
    right: 0; }


@media (max-width: 600px) {
    .not-mobile {
	display: none;
    }
}

.pending-badge {
    display: inline-block;
    min-width: 30px;
    padding: 7px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #26b99a;
    color: #3c5980;
    border-radius: 30px;
}

.column {
    display: inline-block;
    vertical-align: top;
}

.spinner-text {
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    background-color: lightblue;
    color: black;
    position: fixed;
    top: 63%;
    left: 45%;
    width: 12%;
    text-align: center;
    font-size: 18px;
    z-index: 999;
}

@media (max-width: 700px) {
  .spinner-text {
      width: 80%;
      left: 10%;
  }
}

.modal-prominent {
  font-size: 1.2em;
}

.btn-shared-with {
  padding: 0px 0px 0px 0px;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 100;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

h3 {word-wrap:break-word; white-space:normal;}

.appgrid {
    font-size: 6em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.app-grid-item {
    display: flex;
    flex-direction: column;
    color: #3C5980
}

@media (max-width: 640px) {
  .app-grid-item {
    flex: 1 0 45%;
  }
  .app-grid-filler-2 {
      display: block;
  }
  .app-grid-filler-3 {
      display: none;
  }
  .app-grid-filler-4 {
      display: none;
  }
}

@media (min-width: 640px) {
  .app-grid-item {
    flex: 1 0 32%;
  }
  .app-grid-filler-2 {
      display: none;
  }
  .app-grid-filler-3 {
      display: block;
  }
  .app-grid-filler-4 {
      display: none;
  }
}

@media (min-width: 750px) {
  .app-grid-item {
    flex: 1 0 21%;
  }
  .app-grid-filler-2 {
      display: none;
  }
  .app-grid-filler-3 {
      display: none;
  }
  .app-grid-filler-4 {
      display: block;
  }
}

.app-icon {
    margin: .25em;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.app-icon-title {
    font-size: .3em;
    text-align: center;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 40px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

#profile-container div {
  display: inline-block;
  margin: 6px 8px;
}

#profile-image img {
  display: block;
  width: 200px;
  height: 200px;
}

.form-control-profile {
    flex-grow: 1;
    margin-right: 10px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.profile-page-container {
    height: 100%;
    width: 40%;
    overflow-y: auto;
    position: fixed;
    z-index: 2500;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 0 auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0,0,0,.33);
    transition: all .3s ease;
    font-family: Helvetica,Arial,sans-serif;
}

.profile-span {
    font-weight: bold;
    padding-right: 10px;
}

.profile-view {
    font-size: 1.3em;
}

.profile-image {
    margin: 20px;
}

.hspace-5 {
    margin-left: 5px;
    margin-right: 5px;
}

.hspace-15 {
    margin-left: 15px;
    margin-right: 15px;
}

.vspace-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.social-post {
    white-space:pre-wrap;
    margin-bottom:0;
    margin-right: 10px;
    line-height: 1.1;
    background-color: #e2e2e2;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
    font-size: 1.2em;
    overflow-wrap: break-word;
}
.picon-timeline {
    font-size: 5em;
    word-wrap: break-word;
    max-width: 5em;
}
.picon-chat {
    font-size: 3em;
}
.img-thumbail-chat {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: darkgray;
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-grow {
    flex-grow: 1;
}

.flex-profile-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  text-align: left;
}

.flex-item-left {
  padding: 10px;
  flex: 50%;
  display: flex;
  flex-wrap: wrap;
}

.flex-item-right {
  padding: 10px;
  flex: 50%;
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  display: flex;
}

.flex-item > div {
  width: 300px;
  padding: 10px;
  text-align: left;
  font-size: 20px;
}

.flex-line-item > div {
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 20px;
}

.flex-thumbnail-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-image-button-container {
  display: flex;
  flex-direction: column;
}

.vertical-margin {
    margin-top: 10px;
    margin-bottom: 10px;
}
/* chat - start */
.chat-container{
  max-width:1170px;
  margin:auto;
}

.chat-left-panel {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 35%;
  border-right:1px solid #c4c4c4;
}
.chat-border {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}

.chat-actions{
  padding:10px 29px 10px 20px;
  overflow:hidden;
  border-bottom:1px solid #c4c4c4;
}

.chat-action-heading {
  float: left;
  width:40%;
}

.chat-action-heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}

.chat_img {
    float: left;
    width: 11%;
}

.chat-message-search {
}

.chat-message-search input{
    border:1px solid #cdcdcd;
    border-width:0 0 1px 0;
    width:80%;
    padding:2px 0 4px 6px;
    background:none;
}

.chat-message-search .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0px;
  color: #707070;
  font-size: 18px;
}

.chat-message-search .input-group-addon {
  margin: 0 0 0 -27px;
}

.conversation h5{
  font-size:15px;
  color:#464646;
  margin:0 0 8px 0;
  padding: 10px;
}

.conversation h5 span{
  font-size:13px;
  float:right;
}

.conversation p{
  font-size:14px;
  color:#989898;
  margin:auto
}

.conversation {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.conversationContainer{
  overflow:hidden;
  clear:both;
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}

.conversations {
  height: 450px;
  overflow-y: scroll;
}

.activeConversation{ background:#ebebeb;}

.received-message-container {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
  margin:16px 0 16px;
 }

.received-message {
    width: 70%;
}

.received-message p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #000000;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
/*
.received-message img {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
*/

.parent-message {
    border: 1px solid #c4c4c4;
    border-radius: 6px;
}

.reply-message-container {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }

.reply-message {
    width: 57%;
    border: 3px solid #c4c4c4;
    border-radius: 3px;
    margin: 20px;
    padding: 5px;
}

.reply-message p {
  border-radius: 3px;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.reply-to-others-message {
    background: #ebebeb none repeat scroll 0 0 !important;
    color: #000000 !important;
}
.reply-to-own-message {
    background: #26b99a none repeat scroll 0 0 !important;
    color:#fff !important;
}

.attachment-container {
  display: inline-block;
  vertical-align: top;
  width: 40%;
}

.attachment {
    border: 3px solid #c4c4c4;
    border-radius: 3px;
    margin-bottom: 15px;
    padding: 5px;
}

.attachment-delete-btn {
    left: 61%;
    position: absolute;
    color: #000;
}

.reply-draft-container {
  overflow:hidden;
  margin:26px 0 26px;
}

.reply-draft-message {
  float: right;
  width: 50%;
  border: 3px solid #c4c4c4;
  border-radius: 3px;
  margin-bottom: 15px;
  padding: 5px;
}

.reply-draft-message p {
    padding: 5px 20px 5px 12px;
}

.reply-to-delete-draft {
    left: 95%;
    position: absolute;
}

.status-message-container {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }

.status-message { width: 100%;}

.status-message p {
  margin: 0;
  padding: 5px 10px 5px 12px;
  text-align: center;
}

.chat-message-info {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}

.chat-messages {
  float: left;
  padding: 30px 15px 0 25px;
  width: 65%;
}

.sent-message {
  float: right;
  width: 70%;
  margin-right: 10px;
}

.sent-message-reply {
  float: right;
  width: 100%;
}

.sent-message p {
  background: #26b99a none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
/*
.sent-message img {
  background: #26b99a none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}*/

.sent-message-container{
  overflow:hidden;
  margin:26px 0 26px;
}

.new-message input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.new-message-container {
  border-top: 1px solid #c4c4c4;
  position: relative;
}

.emoji-btn {
    border: medium none;
    border-radius: 50%;
    color: #fff;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 80px;
    top: 11px;
    width: 33px;
}

.send-new-message-btn {
  border: medium none;
  border-radius: 50%;
  color: #fff;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 40px;
  top: 11px;
  width: 33px;
}

.attachment-btn {
  border: medium none;
  border-radius: 50%;
  color: #fff;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0px;
  top: 11px;
  width: 33px;
}

.chat-btn {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
}

.chat-messaging {
  padding: 0 0 50px 0;
}

.chat-messages-container {
  height: 416px;
  overflow-y: auto;
}
/* chat - end */

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 700px) {
  .flex-item-right, .flex-item-left {
    flex: 100%;
  }
}

@media (max-width: 900px) {
  .form-control-profile {
      max-width:70%;
  }
}

.choice-row {
  width: 100%;
  text-align: center; // center the content of the container
}

.choice-block {
  margin: 5px;
  display: inline-block; // display inline with ability to provide width/height
}

.hidden-context-menu-item {
  display: none;
}

