<transition name="modal">
<div class="modal-mask" @click="close">
    <div class="modal-container" @click.stop>
      <span @click="close" tabindex="0" v-on:keyup.enter="close" aria-label="close" class="close">&times;</span>
      <div class="modal-header">
	<center>
          <h3> Add a card and upgrade your account to get more space</h3>
	</center>
      </div>

      <div class="modal-body">
	<message 
	  v-if="showMessage" 
	  v-on:remove-message="showMessage=false"
	  :title="messageTitle" 
	  :message="message">
	</message>
	<center>
	  By continuing you agree to our <a href="/terms.html" target="_blank" rel="noopener noreferrer">Terms of Service</a>.
          <div v-bind:class="errorClass">
	    <div v-if="isError" class="alert alert-danger">
              <label>{{ error }}</label>
	    </div>
	    <br/>
	    <label> Current space: {{ getQuota() }}</label>
	    <br/>
	    <button class="btn btn-large btn-success" @click="updateCard">
              Add payment card
            </button>
	    <div v-if="showCard">
	      <iframe style="border: none;" width="450px" height="420px" :src="paymentUrl"/>
	    </div>
	    <br/>
	    <br/>
            <button class="btn btn-success"  v-if="!isPro" @click="requestStorage(53687091200)" style="height:10em;">
              <div style="font-size:x-large">Pro account</div>
	      <br/>
	      <div>
		<ul style="text-align:left;padding-right:40px;">
		  <li>50 GB of hyper secure storage</li>
		  <li>All our bundled private applications</li>
		  <li>5 GBP / month</li>
		</ul>
	      </div>
            </button>
	    <br/>
	    <button class="btn btn-danger" v-if="isPro" @click="cancelPro()" style="height:10em;">
              <div style="font-size:x-large">Cancel Pro subscription</div>
	      <br/>
	      <div>
		You will revert to the Basic quota<br/>
		at the end of the billing month.
              </div>
            </button>
          </div>
	</center>
      </div>
      
      <div class="modal-footer">
        <slot name="footer">
        </slot>
      </div>
    </div>
</div>
</transition>
